{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "Contact us" %}{% endblock %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "Contact us" %}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
            {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'about:index' %}">
            {% trans "About" %}
        </a></li>
        <li><a href="{% url 'about:contact' %}">
            {% trans "Contact us" %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block about-content %}
  <h1>{% trans "Contact us" %}</h1>

  <p>
    {% blocktrans %}
      Feel free to email us to provide some feedbacks, give us
      suggestions for new features, or to just say hello!
    {% endblocktrans %}
  </p>

  <div class="contact">
    <a href="mailto:naa@sfc.wide.ad.jp">
      <div class="contact-item">
        <span class="apricon-stack">
          <i class="apricon apricon-circle-thin apricon-stack-2x"></i>
          <i class="apricon apricon-envelope-o apricon-stack-1x"></i>
        </span>
        <p>naa@sfc.wide.ad.jp</p>
      </div>
    </a>

    <a href="https://twitter.com/AnhTranngoc" target="_blank">
      <div class="contact-item">
        <span class="apricon-stack">
          <i class="apricon apricon-circle-thin apricon-stack-2x"></i>
          <i class="apricon apricon-twitter apricon-stack-1x"></i>
        </span>
        <p>@AnhTranngoc</p>
      </div>
    </a>

    <a href="https://github.com/manhhomienbienthuy" target="_blank">
      <div class="contact-item">
        <span class="apricon-stack">
          <i class="apricon apricon-circle-thin apricon-stack-2x"></i>
          <i class="apricon apricon-github-alt apricon-stack-1x"></i>
        </span>
        <p>@manhhomienbienthuy</p>
      </div>
    </a>

    <a href="https://www.facebook.com/manhhomienbienthuy" target="_blank">
      <div class="contact-item">
        <span class="apricon-stack">
          <i class="apricon apricon-circle-thin apricon-stack-2x"></i>
          <i class="apricon apricon-facebook apricon-stack-1x"></i>
        </span>
        <p>Anh Tranngoc</p>
      </div>
    </a>
  </div>
{% endblock %}
