<h1>Chính sách riêng tư</h1>

<p>Sửa đổi lần cuối: Ngày 16 tháng 6 năm 2016</p>

<p>
  Aprigi cam kết bảo vệ quyền riêng tư của người dùng trên trang
  web. Aprigi dự định cung cấp cho người dùng khả năng kiểm soát nhiều
  nhất có thể đối với thông tin cá nhân người dùng, bao gồm cả dữ liệu
  dùng để đăng ký. Quy định về sự riêng tư này áp dung cho trang web
  mà mô tả các thông tin Aprigi thu thập từ người sử dụng và cách
  chúng tôi sử dụng dữ liệu đó.
</p>
<p>
  Chúng tôi bảo lưu quyền cập nhật vào thay đổi Chính sách riêng tư
  này theo thời gian. Nếu chúng tôi thay đổi điều khoản nào, các thông
  báo nổi bật sẽ được hiển thị trên trang này. Mỗi khi người dùng sử
  dụng trang web, phiên bản hiện tại của Chính sách riêng tư sẽ được
  áp dụng. Vì vậy, người dùng nên kiểm tra ngày sửa đổi của Chính sách
  riêng tư này (xuất hiện ở đầu trang) và xem xét cho bất kỳ thay đổi
  nào kể từ phiên bản trước. Nếu một người dùng không đồng ý với Chính
  sách riêng tư này, người dùng không nên sử dụng trang web.
</p>
<p>
  Aprigi đồng ý thông báo cho người dùng các nguyên tắc riêng tư sau
  đây: Thông báo, Lựa chọn, Chuyển giao, Bảo mật, Toàn vẹn dữ liệu,
  Truy cập và Thực thi.
</p>

<h2>Thông báo</h2>
<p>
  Aprigi đưa ra Chính sách riêng tư này giúp người dùng hiểu về thực
  tiễn sự riêng tư của Aprigi cùng với những lựa chọn người dùng có
  thể chọn về cách mà thông tin của người dùng có thể được thu thập và
  sử dụng.
</p>

<h3>Trẻ em</h3>
<p>
  Người dùng đại diện và xác nhận rằng họ trong độ tuổi hợp pháp để có
  thể tạo ra các ràng buộc và nghĩa vụ tài chính cho bất kỳ trách
  nhiệm nào họ có thể phải chịu từ việc sử dụng trang web của
  họ. Trang web không nhằm vào trẻ em dưới 13 tuổi, và Aprigi sẽ không
  bao giờ yêu cầu thông tin định danh cá nhân từ bất kỳ ai chúng tôi
  biết rằng họ dưới 13 tuổi mà không có sự đồng ý của cha mẹ hoặc
  người giám hộ. Aprigi không cố ý thu thập, hoặc mong muốn có được
  thông tin định danh cá nhân từ trẻ em. Nếu Aprigi nhận thức được
  rằng một người dùng dưới 13 tuổi và đã cung cấp cho chúng tôi thông
  tin cá nhân mà chưa có sự đồng ý từ cha mẹ hay người giám hộ, chúng
  tôi sẽ loại bỏ những thông tin này.
</p>

<h3>Aprigi thu thập những thông tin gì</h3>
<p>
  Aprigi có thể thu thập hai loại thông tin từ người dùng trang web:
  "thông tin có khả năng định danh cá nhân" (ví dụ như tên, địa chỉ
  email, địa chỉ bưu điện, số điện thoại, ngày sinh) và "thông tin
  tổng hợp" (ví dụ như tần số truy cập trang web, địa chỉ IP, trang
  được xem nhiều nhất, loại trình duyệt). Thông tin có khả năng định
  danh cá nhân là bất kỳ thông tin nào có thể được sử dụng để nhận
  diện, liên lạc, hoặc xác định người dùng của trang web. Thông tin
  tổng hợp là thông tin không có khả năng định danh cá nhân/thông tin
  vô danh về người dùng trang web. Thông tin tổng hợp được sử dụng
  theo dạng tập thể mà không có bất kỳ người dùng cá nhân nào có thể
  bị xác định từ những thông tin này.
</p>
<p>
  Trên trang web, người dùng có thể đặt mua sản phẩm hoặc dịch vụ, và
  đăng ký để nhận tài liệu. Thông tin có khả năng định danh cá nhân
  được thu thập trên trang web bao gồm nội dung từ diễn đàn công cộng,
  nhật ký, hồ sơ, hình ảnh, tên, phần tử định danh duy nhất (ví dụ mật
  khẩu), thông tin liên lạc và thanh toán (ví dụ địa chỉ email, địa
  chỉ bưu điện, số điện thoại, fax) và các thông tin giao dịch.
</p>
<p>
  Để điều chỉnh việc giao tiếp giữa Aprigi và người dùng và liên tục
  cải tiến sản phẩm và dịch vụ của trang web, Aprigi cũng có thể yêu
  cầu người dùng cung cấp thông tin liên quan đến sở thích, nhân khẩu
  học, trải nghiệm của họ với sản phẩm của chúng tôi và tùy chọn liên
  lạc chi tiết.
</p>

<h3>Cookie</h3>
<p>
  Aprigi sử dụng cookie trên trang web. Cookie là một tập tin văn bản
  duy nhất có thể được dùng để phân tích dữ liệu, và cho phép trang
  web điều chính thông tin được trình bày cho người dùng dựa vào trình
  duyệt mà họ sử dụng. Aprigi có thể sử dụng cookie để cá nhân hóa các
  trang của người dùng khi vào web, để ghi nhớ người dùng khi họ đăng
  ký cho các sản phẩm và dịch vụ, hoặc để theo dõi việc truy cập
  trang. Nếu người dùng không muốn Aprigi triển khai cookie trên trình
  duyệt của mình, người dùng có thể thiết lập trình duyệt từ chối
  cookie hoặc thông báo khi trang web muốn đặt cookie vào trình
  duyệt. Việc từ chối cookie này có thể ảnh hưởng đến khả năng người
  dùng sử dụng một số sản phẩm, tính năng, chức năng hoặc dịch vụ trên
  trang web. Cookie không chứa thông tin có khả năng định danh cá
  nhân.
</p>

<h3>Các tập tin nhật ký</h3>
<p>
  Các máy chủ web Aprigi có thể tự động ghi lại thông tin tổng hợp, ví
  dụ như địa chỉ IP của người dùng, tên miền, loại trình duyệt, ngày
  và giờ truy cập, và các dữ liệu nhật ký khác. Những thông tin này có
  thể được sử dụng để phần tích các xu hướng hoặc quản trị trang
  web. Các tập tin nhật ký không chứa thông tin có khả năng định danh
  cá nhân.
</p>

<h3>Aprigi sử dụng thông tin thu thập được như thế nào</h3>
<p>
  Aprigi có thể sử dụng thông tin có khả năng định danh cá nhân mà
  người dùng cung cấp cho bất kỳ mục đích nào liên quan đến nghiệp vụ
  của Aprigi, bao gồm như không giới hạn:
</p>
<ol>
  <li>
    Để hiểu rõ nhu cầu của người dùng và tạo ra nội dung liên quan đến
    người sử dụng;
  </li>
  <li>
    Để tạo ra các nghiên cứu thống kê;
  </li>
  <li>
    Để tiến hành nghiên cứu thị trường và lập kế hoạch gửi các khảo
    sát tới người dùng;
  </li>
  <li>
    Để thông báo cho người dùng các giới thiệu của các dịch vụ, thông
    tin hoặc sản phẩm của Aprigi khi mà người dùng yêu cầu Aprigi gửi
    các thông tin đó để tham khảo;
  </li>
  <li>
    Để cải tiến các dịch vụ, thông tin và sản phẩm;
  </li>
  <li>
    Để giúp người dùng hoàn thành một giao dịch, hoặc để cung cấp các
    dịch vụ, hoặc để hỗ trợ khách hàng;
  </li>
  <li>
    Để giao tiếp với người dùng;
  </li>
  <li>
    Để cập nhật người dùng trên các dịch vụ, thông tin và sản phẩm;
  </li>
  <li>
    Để cá nhân hóa trang web cho người dùng;
  </li>
  <li>
    Để thông báo cho người dùng về bất kỳ thay đổi nào của trang web
    có thể ảnh hưởng đến người dùng;
  </li>
  <li>
    Để thực thi các điều khoản của trang web; và
  </li>
  <li>
    Để cho phép người dùng có thể mua các sản phẩm, truy cập các dịch
    vụ hoặc tham gia vào các hoạt động do người dùng chọn.
  </li>
</ol>
<p>
  Tên người dùng, các yếu tố định danh ("ID") và địa chỉ email (cũng
  như bất kỳ thông tin bổ sung khác mà người dùng có thể chọn để đăng)
  có thể được công bố công khai trên trang web khi người dùng tự
  nguyện và công khai tiết lộ thông tin cá nhân. Người dùng có thể
  không được thay đổi hoặc xóa thông tin một khi đã được đăng. Thông
  tin có khả năng định danh cá nhân như vậy có thể được sử dụng bởi
  khách truy cập các trang đó để gửi tin nhắn không mong muốn. Aprigi
  không chịu trách nhiệm về mọi hậu quả có thể xảy ra từ việc sử dụng
  thông tin cá nhân mà người dùng chọn để đăng lên các trang công
  cộng.
</p>
<p>
  Đối với các cuộc điều tra, trong trường hợp các câu trả lời được
  công bố công khai, người dùng sẽ được thông báo vào thời điểm họ
  tham gia khảo sát. Aprigi sẽ chỉ tiết lộ thông tin tổng hợp về người
  dùng, mà như đã nói ở trên là thông tin vô danh, không xác định bất
  kỳ cá nhân cụ thể nào. Hoàn cảnh mà Aprigi công bố không khai thông
  tin tổng hợp như vậy, bao gồm nhưng không giới hạn việc chia sẻ kết
  quả khảo sát với toàn bộ người dùng trang web và công bố dữ liệu
  tổng thể với truyền thông và báo chí.
</p>
<p>
  Nơi mà các cuộc điều tra cho phép người dùng gửi ý kiến bằng văn
  bản, và nơi mà Aprigi khuyến cáo người dùng về khả năng tiết lộ
  thông tin khi họ tham gia khảo sát, Aprigi bảo lưu quyền tiết lộ bất
  cứ thông tin gì được cung cấp bởi người dùng, với điều kiện là không
  có thông tin có khả năng định danh cá nhân nào bị tiết lộ. Tham gia
  vào các cuộc điều tra là lựa chọn của người dùng; Aprigi không tiến
  hành các cuộc điều tra bắt buộc.
</p>

<h2>Lựa chọn/Không tham gia</h2>
<p>
  Người dùng đưa ra quyết định liệu có nên tiến hành hoạt động nào đó
  có yêu cầu thông tin cá nhân hay không. Nếu người dùng không cung
  cấp thông tin được yêu cầu, họ có thể không hoàn thành giao dịch
  nhất định.
</p>
<p>
  Người dùng sử dụng thông tin cá nhân của người khác đồng ý sử dụng
  những thông tin chỉ với mục đích:
</p>
<ol>
  <li>
    Sử dụng các dịch vụ được cung cấp thông qua trang web;
  </li>
  <li>
    Mục đích không liên quan đến giao dịch trên trang và không vì các
    tin nhắn thương mại không mong muốn; hoặc
  </li>
  <li>
    Những mục đích khác mà người dùng có thể chọn lựa rõ ràng.
  </li>
</ol>
<p>
  Người dùng không được cấp phép để thêm người dùng khác vào trang
  web, ngay cả khi những người dùng đó gia nhập giao dịch với họ, hoặc
  thêm vào danh sách mail mà không có sự đồng ý.
</p>
<p>
  Aprigi khuyến khích người dùng đánh giá chính sách riêng tư và bảo
  mật của bất kỳ trang web đối tác nào trước khi bước vào giao dịch
  hoặc lựa chọn tiết lộ thông tin cá nhân.
</p>

<h3>Email</h3>
<p>
  Aprigi sẽ không sử dụng hoặc chia sẻ thông tin có khả năng định danh
  cá nhân được cung câp theo cách không liên quan đến các mục được mô
  tả ở trên mà không cho người dùng biết và cung cấp cho họ lựa
  chọn. Nếu người dùng không còn muốn nhận được các tài liệu tiếp thị
  trực tiếp, Aprigi sẽ cung cấp hướng dẫn trong mỗi email của mình về
  cách làm thế nào để gỡ bỏ người dùng từ các danh sách. Aprigi sẽ nỗ
  lực để tôn trọng những yêu cầu như vậy.
</p>

<h3>Hiển thị hồ sơ và ID người dùng</h3>
<p>
  Thông tin cá nhân của người dùng có thể được công bố công khai thông
  qua việc hiển thị hồ sơ hoặc ID của người dùng. Trong những trường
  hợp như vậy, người dùng có thể lựa chọn và có thể tùy chọn không
  công khai hiển thị tên thật của họ bất cứ lúc nào bằng cách thay đổi
  tên hiển thị của mình trên trang tùy chọn. Việc hiển thị hồ sơ hoặc
  ID có thể cho phép người dùng khác xem các hoạt động của người dùng,
  bao gồm cả việc mua và bán các nội dung, xếp hạng và nhận xét.
</p>

<h3>Hiển thị email</h3>
<p>
  Người dùng có thể có cơ hội sử dụng một dịch vụ để gửi email cho một
  người dùng khác hoặc một danh sách email. Trong trường hợp như vậy,
  địa chỉ email hợp lệ và tên thật của người dùng có thể được thêm vào
  trong những tin nhắn đó. Để tránh lạm dụng, người dùng có thể không
  có lựa chọn không hiển thị những thông tin như vậy, nhưng có thể
  chọn không sử dụng dịch vụ này để truyền tải email.
</p>

<h3>Hình ảnh</h3>
<p>
  Người dùng có thể có cơ hội đăng tải lên trang web những hình ảnh
  nhằm mục đích quảng bá sản phẩm, các cuộc thi và các mục đích khác
  được công bố tại thời điểm được yêu cầu. Trong những trường hợp này,
  trang web được thiết kế để cho tất cả mọi người được xem, tải về,
  lưu và các truy cập khác với hình ảnh đó. Bằng việc đăng tải hình
  ảnh, người dùng từ bỏ tất cả kỳ vọng về sự riêng từ mà mình có với
  việc bảo mật hình ảnh, và với việc Aprigi sử dụng hình ảnh đó cũng
  như đánh giá của người dùng về hình ảnh. Tất cả hình ảnh được đăng
  tải lên Aprigi sẽ trở thành tài sản của Aprigi và sẽ không được trả
  lại.
</p>

<h2>Chuyển giao</h2>

<h3>Aprigi có thể chia sẻ thông tin với ai?</h3>
<p>
  Aprigi sẽ không bán, thuê hay cho thuê thông tin có khả năng định
  danh cá nhân của người dùng cho người khác, trừ những trường hợp
  được mô tả trong Chính sách riêng tư này. Trừ khi Aprigi có sự cho
  phép của người dùng hoặc theo yêu cầu của pháp luật, Aprigi sẽ chỉ
  chia sẻ thông tin có khả năng định danh cá nhân mà người dùng cung
  cấp với các thực thể khác là một phần của gia đinh Aprigi và/hoặc
  các nhà cung cấp dịch vụ bên ngoài có thể được sử dụng để vận chuyển
  hàng, xử lý thẻ tín dụng, hỗ trợ kỹ thuật, xử lý hóa đơn, hoặc các
  hành động khác thay mặt cho Aprigi. Các bên thứ ba đều bị cấm sử
  dụng thông tin của người dùng cho bất cứ mục đích nào, kể cả cho
  công việc tiếp thị của họ.
</p>
<p>
  Khi Aprigi sử dụng bên thứ ba để hỗ trợ trong việc xử lý thông tin
  có khả năng định danh cá nhân, Aprigi yêu cầu họ tuân thủ các thông
  lệ của Aprigi về sự riêng tư, và các biện pháp bảo mật và an ninh
  thích hợp khác.
</p>
<p>
  Xin lưu ý rằng, trong một số trường hợp, Aprigi có thể cần phải tiết
  lộ thông tin có khả năng định danh cá nhân của người dùng mà không
  cần sự cho phép với các cơ quan chính phủ hoặc theo yêu cầu của các
  nghĩa vụ pháp lý. Aprigi có thể tiết lộ thông tin cá nhân như vậy
  khi trả lời các trát lệnh, lệnh của tòa án, hoặc thủ tục pháp lý,
  hoặc để thiết lập và thực hiện các quyền pháp lý, hoặc bảo vệ chống
  lại các khiếu nại, bao gồm cả việc điều tra lừa đảo hoặc gian lận.
</p>
<p>
  Dữ liệu thu thập trực tuyến có thể được kết hợp với thông tin người
  dùng cung cấp qua các phương tiện truyền thông khác, chẳng hạn như
  thư tín hoặc các bên thứ ba để tiếp tục thực hiện các mục đích đã
  được mô tả ở trên trong phần "Thông báo, Aprigi sử dụng thông tin
  thu thập được như thế nào".
</p>
<p>
  Khi người dùng lựa chọn cung cấp cho Aprigi những thông tin có khả
  năng định danh cá nhân, người dùng đồng ý với việc chuyển giao và
  lưu trữ thông tin như vậy trên máy chủ của Aprigi.
</p>
<p>
  Ngoài ra, Aprigi bảo lưu quyền chia sẻ thông tin tổng hợp từ người
  dùng của trang web, mà không cần thông báo trước, với các thực thể
  là một phần của gia đình Aprigi và các bên thứ ba không liên
  quan. Như đã nêu trước đây, thông tin tổng hợp được sử dụng một cách
  tập thể và không một cá nhân nào có thể được xác định từ các thông
  tin đó.
</p>

<h3>Đặt hàng dịch vụ</h3>
<p>
  Để mua dịch vụ, người dùng có thể được yêu cầu chuyển hướng đến một
  trang web của bên thứ ba, ví dụ PayPal, để thanh toán tiền mua hàng
  của họ. Nếu có thể, các trang web bên thứ ba có thể thu thập thông
  tin thanh toán một cách trực tiếp để tạo điều kiện cho một giao
  dịch. Không thông tin nào như vậy sẽ được lưu trữ bởi Aprigi.
</p>

<h3>Liên kết đến trang web của bên thứ ba</h3>
<p>
  Liên kết đến trang web của bên thứ ba trên trang này chỉ đơn giản là
  vì sự tiện lợi cho người dùng. Khi người dùng sử dụng các liên kết,
  người dùng sẽ rời khỏi trang. Aprigi không nghiên cứu tất cả các
  trang web của bên thứ ba, không kiểm soát và chịu trách nhiệm với
  bất kỳ trang web, nội dung và chính sách riêng tư của bên thứ ba
  nào. Aprigi không xác nhận hoặc thực hiện bất kỳ tuyên bố nào về
  trang web thứ ba, hoặc bất kỳ thông tin, dịch vụ hoặc sản phẩm nào
  được tìm thấy ở trang web của bên thứ ba. Nếu người dùng quyết định
  truy cập bất kỳ trang web được liên kết nào, Aprigi khuyến cáo người
  dùng đọc chính sách riêng tư của họ. Người dùng truy cập các trang
  web như vậy tự chịu trách nhiệm cho hành vi của mình.
</p>

<h3>Phá sản hoặc bán việc kinh doanh</h3>
<p>
  Aprigi bảo lưu quyền chia sẻ hoặc chuyển giao những thông tin có khả
  năng định danh cá nhân và thông tin tổng hợp cho một bên thứ ba
  trong trường hợp Aprigi nộp đơn xin phá sản hoặc trong sự kiện mua
  bán, sát nhập hoặc mua lại của Aprigi, bên thứ ba được cung cấp đồng
  ý tuân thủ các điều khoản của Chính sách riêng tư này.
</p>

<h3>Thay đổi Chính sách riêng tư này</h3>
<p>
  Aprigi có thể sửa đổi Chính sách riêng tư này. Nếu Aprigi làm bất kỳ
  thay đổi đáng kể nào trong cách cuhngs tôi sử dụng thông tin cá
  nhân, Aprigi sẽ thông báo cho bạn.
</p>

<h3>Phản hồi</h3>
<p>
  Nếu bạn có bất kỳ câu hỏi nào liên quan đến Chính sách riêng tư này
  hoặc việc Aprigi sử dụng thông tin cá nhân trên trang web, vui lòng
  truy cập <a href="{% url 'about:contact' %}">trang liên hệ</a> của
  chúng tôi để biết làm thế nào để liên lạc với chúng tôi.
</p>

<h2>Toàn vẹn dữ liệu và Truy cập</h2>
<p>
  Nếu người dùng thấy sự thiếu chính xác trong thông tin của người đó,
  hoặc mong muốn đóng tài khoản hoặc xem các thông tin cá nhân Aprigi
  có thể có liên quan đến người dùng, người dùng có thể liên hệ với
  chúng thông qua các phương thức được mô tả ở
  <a href="{% url 'about:contact' %}">trang liên hệ</a> của chúng tôi,
  hoặc khi kỹ thuật cho phép, người dùng có thể liên lạc trực tiếp
  trên trang web. Aprigi sẽ nỗ lực để đáp ứng yêu cầu truy cập trong
  vòng ba mươi (30) ngày kể từ khi nhận được yêu cầu. Aprigi có thể từ
  chối xử lý truy cập của người dùng hoặc cập nhận yêu cầu với các
  thông tin cá nhân của họ nếu yêu cầu đó đòi hỏi kỹ thuật không phù
  hợp, gây nguy hiểm cho sự riêng tư của người dùng khác, hoặc không
  thực tế (ví dụ, các yêu cầu liên quan đến sao lưu dữ liệu).
</p>

<h2>Bảo mật</h2>
<p>
  Để ngăn chặn việc truy cập trái phép hoặc tiết lộ thông tin, duy trì
  độ chính xác của dữ liệu, và đảm bảo việc sử dụng thông tin thích
  hợp, Aprigi thực hiện các thủ tục vật lý, điện tử và quản lý để bảo
  vệ và bảo mật thông tin mà Aprigi thu thập. Aprigi sử dụng mã hóa
  khi thu thập hoặc chuyển giao các thông tin nhạy cảm. Tuy nhiên,
  Aprigi không đảm bảo rằng, các bên thứ ba không được ủy quyền sẽ
  không bao giờ đánh bại và vượt qua các biện pháp đã thực hiện nhằm
  ngăn ngừa việc sử dụng không đúng thông tin cá nhân.
</p>
<p>
  Về nội bộ, việc Aprigi truy cập đến các thông tin không công khai có
  khả năng định danh cá nhân của người dùng bị hạn chế ở các quản trị
  viên và các cá nhân cần phải biết. Những cá nhân này bị ràng buộc
  với các thỏa thuận bảo mật.
</p>
<p>
  Mật khẩu người dùng là chìa khóa của tài khoản. Xin hãy sử dụng
  những chữ số, chữ cái, và ký tự đặc biệt duy nhất cho mật khẩu và
  không tiết lộ nó cho người khác để tránh mất quyền kiểm soát tài
  khoản. Người dùng chịu trách nhiệm cho tất cả hành động được làm bởi
  tài khoản của họ. Xin hãy thông báo cho Aprigi về bất kỳ tổn hại mật
  khẩu nào, và hãy thay đổi mật khẩu định kỳ để bảo vệ tài khoản.
</p>

<h2>Thực thi</h2>
<p>
  Trong sự việc mà Aprigi nhận thức được rằng sự an toàn của trang web
  đã bị tổn hại, hoặc thông tin có khả năng định danh cá nhân của
  người dùng đã bị tiết lộ cho các bên thứ ba không liên quan từ kết
  quả của các hoạt động bên ngoài, bao gồm nhưng không giới hạn việc
  tấn công bảo mật hoặc lừa đảo, Aprigi bảo lưu quyền thực hiện các
  biện pháp thích hợp, bao gồm nhưng không giới hạn việc điều tra, báo
  cáo, thông báo và phối hợp với các cơ quan thực thi pháp luật.
</p>
<p>
  Nếu Aprigi nhận thức được rằng, thông tin có khả năng định danh cá
  nhân của một người dùng đã bị tiết lộ khi không được sự cho phép của
  Chính sách riêng tư này, Aprigi sẽ thực hiện các nỗ lực để thông báo
  cho người dùng bị ảnh hưởng sớm nhất có thể, và như đã được pháp
  luật cho phép, tới những nơi khác mà Aprigi biết về những thông tin
  này.
</p>
<p>
  Nếu người dùng có ý kiến hoặc cầu hỏi về Chính sách riêng tư của
  Aprigi, vui lòng truy cập
  <a href="{% url 'about:contact' %}">trang liên hệ</a> để biết các
  phương thức liên lạc với chúng tôi.
</p>
