<h1>Privacy Policy</h1>

<p>Last modified: June 16, 2016</p>

<p>
  Aprigi is committed to protecting the privacy of users of the
  website. Aprigi intends to give users as much control as possible
  over user's personally identifiable information, including
  registration data. This Privacy Statement applies to the website and
  describes the information Aprigi collects about users and how that
  information may be used.
</p>
<p>
  We reserves the right to update and change this Privacy Statement
  from time to time. If we makes material changes to its privacy
  practices, a prominent notice will be posted on this web page. Each
  time a user uses the website, the current version of the Privacy
  Statement applies. Accordingly, a user should check the date of this
  Privacy Statement (which appears at the top) and review for any
  changes since the last version. If a user does not agree to the
  Privacy Statement, the user should not use the website.
</p>
<p>
  Aprigi agrees to notify users of the following privacy principles:
  Notice, Choice, Onward Transfer, Security, Data Integrity, Access,
  and Enforcement.
</p>

<h2>Notice</h2>
<p>
  Aprigi provides this Privacy Statement to make users aware of Aprigi
  privacy practices, and of the choices a user may make about the way
  the user's information is collected and used.
</p>

<h3>Children</h3>
<p>
  Users represent they are of legal age to create binding and
  financial obligations for any liability users may incur as a result
  of their use of the web. The website are not directed to children
  under the age of 13, and Aprigi will never request personally
  identifiable information from anyone whom it knows to be under the
  age of 13 without verifiable parental or guardian consent. Aprigi
  does not knowingly collect, or wish to obtain, personally
  identifiable information from children. If Aprigi becomes aware that
  a user is under the age of 13 and has provided personally
  identifiable information without prior verifiable parental or
  guardian consent, it will remove user's personally identifiable
  information from its files.
</p>

<h3>What information Aprigi collects</h3>
<p>
  Aprigi may collect two types of information from users of website:
  "personally identifiable information" (such as name, email address,
  postal address, telephone, birth date) and "aggregate information"
  (such as frequency of visits to website, IP address, Site pages most
  frequently accessed, browser type). Personally identifiable
  information is any piece of information which can potentially be
  used to uniquely identify, contact, or locate a user of the
  website. Aggregate information is non-personally
  identifiable/anonymous information about users of the
  website. Aggregate information is used in a collective manner and no
  single person can be identified by that compiled information.
</p>
<p>
  On the website, users may order products or services, and register
  to receive materials. Personally identifiable information collected
  on the website includes community forum content, diaries, profiles,
  photographs, name, unique identifiers (e.g., passwords), contact and
  billing information (e.g., email address, postal address, telephone,
  fax), and transaction information.
</p>
<p>
  In order to tailor Aprigi's subsequent communications to users and
  continuously improve the website' products and services, Aprigi may
  also ask users to provide information regarding their interests,
  demographics, experience with its products, and detailed contact
  preferences.
</p>

<h3>Cookies</h3>
<p>
  Aprigi uses cookies on the website. A cookie is a unique text file
  that may be used for data analysis, and enables a website to tailor
  information presented to a user based on a user's browsing
  program. Aprigi may use cookies to personalize a user's pages at the
  website, to remember a user when the user registers for products or
  services, or to track visits to the website. If a user does not want
  Aprigi to deploy cookies in the user's browser, the user may set the
  browser to reject cookies or to notify the user when a website
  tries to place cookies in the browser program. Rejecting cookies may
  affect a user's ability to use some of the products, features,
  functions, or services on the website. Cookies do not contain
  personally identifiable information.
</p>

<h3>Log files</h3>
<p>
  Aprigi web servers may automatically log aggregate information, such
  as a user's IP address, domain name, browser type, date and time of
  access, and other log file data. This information may be used to
  analyze trends or administer the website. Log files do not contain
  personally identifiable information.
</p>

<h3>How Aprigi uses the information collected</h3>
<p>
  Aprigi may use the personally identifiable information a user
  submits for any purposes related to Aprigi's business, including,
  but not limited to:
</p>
<ol>
  <li>
    To understand a user's needs and create content that is relevant
    to the user;
  </li>
  <li>
    To generate statistical studies;
  </li>
  <li>
    To conduct market research and planning by sending user surveys;
  </li>
  <li>
    To notify user referrals of Aprigi services, information, or
    products when a user requests that Aprigi send such information to
    referrals;
  </li>
  <li>
    To improve services, information, and products;
  </li>
  <li>
    To help a user complete a transaction, or provide services or
    customer support;
  </li>
  <li>
    To communicate back to the user;
  </li>
  <li>
    To update the user on services, information, and products;
  </li>
  <li>
    To personalize the website for the user;
  </li>
  <li>
    To notify the user of any changes with the website which may
    affect the user;
  </li>
  <li>
    To enforce terms of use on the website; and
  </li>
  <li>
    To allow the user to purchase products, access services, or
    otherwise engage in activities the user selects.
  </li>
</ol>
<p>
  User names, identifications ("IDs"), and email addresses (as well as
  any additional information that a user may choose to post) may be
  publicly available on the website when users voluntarily and
  publicly disclose personally identifiable information. Users may not
  be able to change or remove public postings once posted. Such
  personally identifiable information may be used by visitors of these
  pages to send unsolicited messages. Aprigi is not responsible for
  any consequences which may occur from the use of personally
  identifiable information that a user chooses to submit to public
  pages.
</p>
<p>
  With respect to surveys, in the event that responses are publicly
  disclosed, users will be notified at the time they take the
  survey. Aprigi will disclose only aggregate information regarding
  its users, which as stated earlier is anonymous information that
  does not identify any specific individual. Circumstances under which
  Aprigi would publicly disclose such aggregate information include,
  but are not limited to, sharing survey results with the site
  population and publicizing overall usage data in press
  communications.
</p>
<p>
  Where surveys allow users to submit written comments, and where
  Aprigi advises users of the possibility of such disclosure at the
  time they take the survey, Aprigi reserves the right to disclose any
  information provided by users, provided that no personal information
  identifying a specific user is disclosed. Participation in surveys
  is at a user's option; Aprigi does not conduct mandatory surveys.
</p>

<h2>Choice/Opt out</h2>
<p>
  A user makes the decision whether to proceed with any activity that
  requests personally identifiable information. If a user does not
  provide requested information, the user may not be able to complete
  certain transactions.
</p>
<p>
  Users who use the personally identifiable information of other users
  agree to use such information only for:
</p>
<ol>
  <li>
    Using services offered through the website;
  </li>
  <li>
    Site transaction-related purposes and not for unsolicited
    commercial messages; or
  </li>
  <li>
    Other purposes that the other user expressly chooses.
  </li>
</ol>
<p>
  Users are not licensed to add other users to the website, even users
  who entered into transactions with them, or to their mail lists
  without consent.
</p>
<p>
  Aprigi encourages users to evaluate privacy and security policies of
  any of the website's transaction partners before entering into
  transactions or choosing to disclose personally identifiable
  information.
</p>

<h3>Emails</h3>
<p>
  Aprigi will not use or share the personally identifiable information
  provided to it in ways unrelated to the items described above
  without first letting a user know and offering the user a choice. If
  a user no longer wishes to receive direct marketing materials,
  Aprigi will provide instructions in each of its emails on how to be
  removed from any lists. Aprigi will make commercially reasonable
  efforts to honor such requests.
</p>

<h3>Profile or User ID Display</h3>
<p>
  A user's personally identifiable information may be publicly
  available through a user's profile or user ID display. In such
  cases, users have the option and discretion to opt out of publicly
  displaying their real names at any time by changing their display
  name under the website' user preferences. Profile or user ID display
  may allow other users to see a user's activities, including purchase
  and sales content, ratings, and comments.
</p>

<h3>Email Display</h3>
<p>
  Users may have the opportunity to use a service to send electronic
  mail to another user or email list. In such cases, a user's valid
  email address and real name will be included with such messages. In
  order to prevent abuse, users may not opt out of such a display
  where possible, but may choose to refrain from using such service to
  transmit an email message.
</p>

<h3>Photographs</h3>
<p>
  Users may have the opportunity to submit photographs to the website
  for product promotions, contests, and other purposes to be disclosed
  at the time of request. In these circumstances, the website are
  designed to allow the public to view, download, save, and otherwise
  access the photographs posted. By submitting a photograph, users
  waive any privacy expectations users have with respect to the
  security of such photographs, and Aprigi's use or exploitation of
  users' likeness. All photographs submitted to Aprigi become the
  property of Aprigi and will not be returned.
</p>

<h2>Onward Transfer</h2>

<h3>With whom may Aprigi share information?</h3>
<p>
  Aprigi will not sell, rent, or lease a user's personally
  identifiable information to others, except as described in this
  Privacy Statement. Unless Aprigi has a user's permission or as
  required by law, Aprigi will only share the personally identifiable
  information a user provides online with other entities that are part
  of the Aprigi corporate family and/or outside service providers who
  may be used to ship products, process credit cards, provide
  technical support, handle order processing, or otherwise act on
  Aprigi's behalf. These third parties are prohibited from using
  users' information for any other purpose, including their own
  marketing.
</p>
<p>
  When Aprigi uses third parties to assist in processing the website's
  user personally identifiable information, Aprigi requests that they
  comply with Aprigi privacy practices, and other appropriate
  confidentiality and security measures.
</p>
<p>
  Please be advised that in certain instances, it may be necessary for
  Aprigi to disclose a user's personally identifiable information
  without a user's permission to government officials or otherwise as
  required by legal obligations. Aprigi may disclose such personally
  identifiable information when responding to subpoenas, court orders,
  or legal process, or to establish or exercise legal rights or defend
  against claims, including fraud or infringement investigations.
</p>
<p>
  Data collected online may be combined with information a user
  provides through other means of communication, such as postal mail
  or third parties to further carry out the purposes described above
  under the heading "Notice, How Aprigi uses the information collected
  regarding users".
</p>
<p>
  When users choose to provide Aprigi with personally identifiable
  information, users consent to the transfer and storage of such
  information by Aprigi servers.
</p>
<p>
  In addition, Aprigi reserves the right to share aggregate
  information collected from users of the website, without prior
  notice, with entities that are part of the Aprigi corporate family
  and unrelated third parties. As stated earlier, aggregate
  information is used in a collective manner and no single person can
  be identified by such compiled information.
</p>

<h3>Service Orders</h3>
<p>
  To purchase services, users may be asked to be directed to a third
  party site, like PayPal, to pay for their purchases. If applicable,
  the third party site may collect payment information directly to
  facilitate a transaction. None of this information will be captured
  or stored by Aprigi.
</p>

<h3>Links to third party web website</h3>
<p>
  Links to third party web website on the website are provided solely
  as a convenience to the user. When a user uses these links, the user
  leaves the website. Aprigi has not reviewed all of these third party
  website, does not control, and is not responsible for, any of the
  third party website, their content or privacy practices. Aprigi does
  not endorse or make any representations about the third party
  website, or any information, services, or products found on the
  website. If a user decides to access any of the linked website,
  Aprigi encourages the user to read their privacy statements. The
  user accesses such website at user's own risk.
</p>

<h3>Bankruptcy or Sale of business</h3>
<p>
  Aprigi reserves the right to share or transfer personally
  identifiable information and aggregate information to a third party
  should Aprigi ever file for bankruptcy or in the event of a sale,
  merger or acquisition of Aprigi, provided such third party agrees to
  adhere to the terms of this Privacy Statement.
</p>

<h3>Changes to this Privacy Statement</h3>
<p>
  Aprigi may amend this policy occasionally. If Aprigi makes any
  substantial changes in the way we use your personal information,
  Aprigi will notify you.
</p>

<h3>Feedback</h3>
<p>
  If you have any questions regarding this Privacy Statement or
  Aprigi's use of personal information on this site, please visit our
  <a href="{% url 'about:contact' %}">contact page</a> for information
  about how to contact us.
</p>

<h2>Data Integrity and Access</h2>
<p>
  Should a user find inaccuracies in such user's information, or
  desire to close an account or view the personally identifiable
  information Aprigi may have regarding the user, the user may contact
  Aprigi through the communication methods described in
  our <a href="{% url 'about:contact' %}">contact page</a>, or when
  technically feasible, directly on the website. Aprigi will make
  commercially reasonable efforts to respond to requests for access
  within thirty (30) days of receiving requests. Aprigi may decline to
  process users' access or update requests to their personally
  identifiable information if the requests require disproportionate
  technical effort, jeopardize the privacy of other users, or are
  impractical (for instance, requests concerning information residing
  on backup tapes).
</p>

<h2>Security</h2>
<p>
  To prevent unauthorized access or disclosure, maintain data
  accuracy, and ensure the appropriate use of information, Aprigi
  implements physical, electronic, and managerial procedures to
  safeguard and secure the information Aprigi collects. Aprigi uses
  encryption when collecting or transferring sensitive personally
  identifiable information. However, Aprigi does not guarantee that
  unauthorized third parties will never defeat measures taken to
  prevent improper use of personally identifiable information.
</p>
<p>
  Internal Aprigi access to users' nonpublic personally identifiable
  information is restricted to Aprigi's administrators and individuals
  on a need-to-know basis. These individuals are bound by
  confidentiality agreements.
</p>
<p>
  User passwords are keys to accounts. Use unique numbers, letters,
  and special characters for passwords and do not disclose passwords
  to other people in order to prevent loss of account control. Users
  are responsible for all actions taken in their accounts. Notify
  Aprigi of any password compromises, and change passwords
  periodically to maintain account protection.
</p>

<h2>Enforcement</h2>
<p>
  In the event Aprigi becomes aware that the security of the website
  has been compromised or user's personally identifiable information
  has been disclosed to unrelated third parties as a result of
  external activity, including but not limited to security attacks or
  fraud, Aprigi reserves the right to take reasonable appropriate
  measures, including but not limited to, investigation and reporting,
  and notification to and cooperation with law enforcement
  authorities.
</p>
<p>
  If Aprigi becomes aware that a user's personally identifiable
  information has been disclosed in a manner not permitted by this
  Privacy Statement, Aprigi will make reasonable efforts to notify the
  affected user, as soon as reasonably possible and as permitted by
  law, of what information has been disclosed, to the extent that
  Aprigi knows this information.
</p>
<p>
  If a user has comments or questions about the Aprigi's privacy
  statement, please visit our
  <a href="{% url 'about:contact' %}">contact page</a> for information
  about how to contact us.
</p>
