<h1>Điều khoản sử dụng của Aprigi</h1>

<p>Sửa đổi lần cuối: Ngày 16 tháng 6 năm 2016</p>

<h2>Chào mừng bạn đến với Aprigi!</h2>
<p>
  Cảm ơn bạn đã sử dụng các sản phẩm và dịch vụ của chúng tôi ("Dịch
  vụ"). Dịch vụ được cung cấp bởi Anh Tranngoc.
</p>
<p>
  Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các
  điều khoản này. Vui lòng đọc kỹ các điều khoản này. Nếu bạn không
  đồng ý với các điều khoản, lựa chọn duy nhất của bạn là rời khỏi
  trang web ngay lập tức. Một bản sao của các điều khoản này có thể
  được tải về, lưu trữ và in ra để tham khảo.
</p>

<h2>Sử dụng Dịch vụ của chúng tôi</h2>
<p>
  Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi
  Dịch vụ.
</p>
<p>
  Không được sử dụng trái phép Dịch vụ của chúng tôi. Ví dụ: không
  được gây trở ngại cho Dịch vụ của chúng tôi hoặc tìm cách truy cập
  chúng bằng phương pháp nào đó không thông qua giao diện và hướng dẫn
  mà chúng tôi cung cấp. Bạn chỉ có thể sử dụng Dịch vụ của chúng tôi
  theo như được luật pháp cho phép, bao gồm cả các luật và quy định
  hiện hành về quản lý xuất khẩu và tái xuất khẩu. Chúng tôi có thể
  tạm ngừng hoặc ngừng cung cấp Dịch vụ của chúng tôi cho bạn nếu bạn
  không tuân thủ các điều khoản hoặc chính sách của chúng tôi hoặc nếu
  chúng tôi đang điều tra hành vi bị nghi ngờ là sai phạm.
</p>
<p>
  Việc bạn sử dụng Dịch vụ của chúng tôi không có nghĩa là bạn được sở
  hữu bất cứ các quyền sở hữu trí tuệ nào đối với Dịch vụ của chúng
  tôi hoặc nội dung mà bạn truy cập. Bạn không được sử dụng nội dung
  từ Dịch vụ của chúng tôi trừ khi bạn được chủ sở hữu nội dung đó cho
  phép hoặc được luật pháp cho phép. Các điều khoản này không cấp cho
  bạn quyền sử dụng bất kỳ thương hiệu hoặc lôgô nào được sử dụng
  trong Dịch vụ của chúng tôi. Không được xóa, che khuất hoặc thay đổi
  bất kỳ thông báo pháp lý nào được hiển thị trong hoặc kèm theo Dịch
  vụ của chúng tôi.
</p>
<p>
  Dịch vụ của chúng tôi hiển thị một số nội dung không phải của
  Aprigi. Chỉ một mình đối tượng cung cấp sẽ chịu trách nhiệm về nội
  dung này. Chúng tôi có thể xem xét nội dung để xác định xem nội dung
  đó có bất hợp pháp hoặc vi phạm chính sách của chúng tôi hay không,
  và chúng tôi có thể xóa hoặc từ chối hiển thị nội dung mà chúng tôi
  có lý do chính đáng để tin rằng nội dung đó vi phạm chính sách của
  chúng tôi hoặc luật pháp. Tuy nhiên, điều đó không nhất thiết có
  nghĩa là chúng tôi sẽ xem xét nội dung, do vậy bạn đừng cho rằng
  chúng tôi sẽ làm như vậy.
</p>
<p>
  Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn
  các thông báo dịch vụ, thông báo quản trị và thông tin khác. Bạn có
  thể chọn không nhận một số thông báo này.
</p>
<p>
  Một số các Dịch vụ của chúng tôi có sẵn trên các thiết bị di
  động. Không sử dụng các Dịch vụ đó theo cách khiến bạn bị mất tập
  trung và ngăn cản bạn tuân thủ các luật về an toàn hoặc giao thông.
</p>
<h2>Tài khoản của bạn</h2>
<p>
  Bạn có thể cần có tài khoản để sử dụng một số Dịch vụ của chúng
  tôi. Bạn có thể tạo tài khoản của riêng mình hoặc tài khoản của bạn
  có thể được chỉ định cho bạn bởi quản trị viên. Nếu bạn đang sử dụng
  tài khoản được chỉ định cho bạn bởi quản trị viên, các điều khoản
  khác hoặc bổ sung có thể được áp dụng và quản trị viên của bạn có
  thể truy cập hoặc vô hiệu hóa tài khoản của bạn.
</p>
<p>
  Để bảo vệ tài khoản của bạn, hãy giữ bí mật mật khẩu của bạn. Bạn
  chịu trách nhiệm đối với hoạt động xảy ra trên hoặc thông qua tài
  khoản của bạn. Cố gắng không sử dụng lại mật khẩu tài khoản của bạn
  trên các ứng dụng của bên thứ ba. Bạn đồng ý rằng sẽ thông báo cho
  chúng tôi ngay lập tức nếu bạn biết được bất kỳ hành vi sử dụng trái
  phép nào đối với mật khẩu hoặc tài khoản của mình.
</p>

<h2>Bảo vệ sự riêng tư và bản quyền</h2>
<p>
  <a href="{% url 'about:privacy' %}">Chính sách của Aprigi về sự
  riêng tư</a> giải thích cách chúng tôi xử lý dữ liệu cá nhân của bạn
  và bảo vệ sự riêng tư của bạn khi bạn sử dụng Dịch vụ của chúng
  tôi. Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý rằng
  Aprigi có thể những sử dụng dữ liệu đó theo chính sách của chúng tôi
  về sự riêng tư.
</p>
<p>
  Chúng tôi phúc đáp các thông báo cáo buộc về vi phạm bản quyền và
  chấm dứt tài khoản của người tái phạm theo quy trình nêu trong luật
  bản quyền và các luật khác.
</p>
<p>
  Chúng tôi cung cấp thông tin giúp chủ sở hữu bản quyền quản lý các
  sở hữu trí tuệ của họ trên mạng. Nếu bạn cho rằng ai đó đang vi phạm
  bản quyền của bạn và bạn muốn thông báo cho chúng tôi, bạn có thể
  tìm thông tin về cách gửi thông báo và chính sách của Aprigi về việc
  phúc đáp thông báo <a href="{% url 'about:contact' %}">tại trang
  liên hệ của chúng tôi</a>.
</p>

<h2>Nội dung của bạn trong Dịch vụ của chúng tôi</h2>
<p>
  Một số Dịch vụ của chúng tôi cho phép bạn tải lên, đệ trình, lưu
  trữ, gửi hoặc nhận nội dung. Bạn giữ quyền sở hữu mọi quyền sở hữu
  trí tuệ mà bạn có đối với nội dung đó. Tóm lại, những gì thuộc về
  bạn sẽ luôn thuộc về bạn.
</p>
<p>
  Khi bạn tải lên, đệ trình, lưu trữ, gửi hoặc nhận nội dung đến hoặc
  qua Dịch vụ của chúng tôi, bạn cấp cho Aprigi giấy phép toàn cầu để
  sử dụng, làm trang chủ, lưu trữ, nhân bản, điều chỉnh, tạo các tác
  phẩm phái sinh (chẳng hạn như những tác phẩm có nguồn gốc từ bản
  dịch, phóng tác hoặc những thay đổi khác mà chúng tôi thực hiện để
  nội dung của bạn hoạt động tốt hơn với Dịch vụ của chúng tôi),
  truyền đạt, xuất bản, trình diễn công khai, hiển thị và phân phối
  công khai nội dung đó. Những quyền bạn cấp trong giấy phép này là
  nhằm phục vụ các mục đích có giới hạn như điều hành, quảng bá và cải
  thiện Dịch vụ của chúng tôi và để phát triển những dịch vụ mới. Giấy
  phép này sẽ vẫn tiếp tục có hiệu lực ngay cả nếu trong trường hợp
  bạn ngừng sử dụng Dịch vụ của chúng tôi. Một số Dịch vụ có thể cung
  cấp cho bạn những cách để truy cập và xóa nội dung đã được cung cấp
  cho Dịch vụ đó. Ngoài ra, trong một số Dịch vụ của chúng tôi, có
  những điều khoản hoặc cài đặt thu hẹp phạm vi sử dụng nội dung đã
  được gửi trong những Dịch vụ đó. Đảm bảo rằng bạn có các quyền cần
  thiết để cấp cho chúng tôi giấy phép này cho bất kỳ nội dung nào bạn
  gửi đến Dịch vụ của chúng tôi.
</p>
<p>
  Nếu bạn có tài khoản, chúng tôi có thể hiển thị tên Profile (tên
  hiển thị), ảnh Profile (ảnh hiển thị) của bạn và các hành động bạn
  thực hiện trên Aprigi trong các Dịch vụ của chúng tôi. Chúng tôi sẽ
  tôn trọng các lựa chọn của bạn đưa ra để giới hạn các cài đặt về mức
  độ hiển thị hoặc chia sẻ trong tài khoản của bạn.
</p>
<p>
  Bạn có thể tìm thêm thông tin về cách Aprigi sử dụng và lưu trữ nội
  dung trong chính sách về sự riêng tư hoặc các điều khoản bổ sung
  dành cho Dịch vụ cụ thể. Nếu bạn gửi phản hồi hoặc đề xuất về Dịch
  vụ của chúng tôi, chúng tôi có thể sử dụng phản hồi hoặc đề xuất của
  bạn mà không phải chịu bất cứ nghĩa vụ nào.
</p>

<h2>Sửa đổi và chấm dứt Dịch vụ của chúng tôi</h2>
<p>
  Chúng tôi không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng
  tôi có thể thêm hoặc xóa các chức năng hoặc tính năng và chúng tôi
  cũng có thể tạm ngừng hoặc ngừng hoàn toàn một Dịch vụ.
</p>
<p>
  Bạn có thể ngừng sử dụng Dịch vụ của chúng tôi bất kỳ lúc nào, mặc
  dù chúng tôi sẽ rất tiếc khi bạn không còn sử dụng Dịch vụ của chúng
  tôi nữa. Aprigi cũng có thể ngừng cung cấp Dịch vụ cho bạn hay thêm
  hoặc tạo ra những giới hạn mới cho Dịch vụ của chúng tôi bất kỳ lúc
  nào.
</p>
<p>
  Chúng tôi tin rằng bạn sở hữu dữ liệu của bạn và việc bảo toàn quyền
  truy cập của bạn đối với dữ liệu đó là điều quan trọng. Nếu chúng
  tôi ngừng một Dịch vụ nào đó, khi khả thi và hợp lý, chúng tôi sẽ
  cung cấp cho bạn thông báo trước hợp lý và cơ hội để đưa thông tin
  ra khỏi Dịch vụ đó.
</p>

<h2>
  Điều khoản bảo đảm và Tuyên bố từ chối trách nhiệm của chúng tôi
</h2>
<p>
  Chúng tôi cung cấp các Dịch vụ có sử dụng mức độ kỹ năng và sự quan
  tâm hợp lý về mặt thương mại và chúng tôi hy vọng rằng bạn sẽ thích
  thú khi sử dụng các Dịch vụ này. Tuy nhiên, có một số điều nhất định
  mà chúng tôi không hứa hẹn về Dịch vụ của mình.
</p>
<p>
  TRỪ CÁC TRƯỜNG HỢP ĐƯỢC NÊU RÕ TRONG CÁC ĐIỀU KHOẢN NÀY, APRIGI
  KHÔNG ĐƯA RA BẤT KỲ HỨA HẸN CỤ THỂ NÀO VỀ DỊCH VỤ. VÍ DỤ: CHÚNG TÔI
  KHÔNG ĐƯA RA BẤT KỲ CAM KẾT NÀO VỀ NỘI DUNG TRONG CÁC DỊCH VỤ, CHỨC
  NĂNG CỤ THỂ CỦA CÁC DỊCH VỤ HOẶC MỨC ĐỘ TIN CẬY, SỰ SẴN CÓ HOẶC KHẢ
  NĂNG ĐÁP ỨNG NHU CẦU CỦA BẠN CỦA CÁC DỊCH VỤ ĐÓ. CHÚNG TÔI CUNG CẤP
  CÁC DỊCH VỤ THEO “HIỆN TRẠNG”.
</p>
<p>
  MỘT SỐ LÃNH THỔ CÓ THẨM QUYỂN TÀI PHÁN CÓ QUY ĐỊNH MỘT SỐ CÁC BẢO
  ĐẢM NHẤT ĐỊNH, CHẲNG HẠN NHƯ BẢO ĐẢM NGẦM ĐỊNH VỀ SỰ THÍCH HỢP CHO
  MỤC ĐÍCH THÔNG THƯỜNG, SỰ PHÙ HỢP CHO MỤC ĐÍCH CỤ THỂ VÀ KHÔNG XÂM
  PHẠM. TRONG PHẠM VI ĐƯỢC LUẬT PHÁP CHO PHÉP, CHÚNG TÔI LOẠI TRỪ TẤT
  CẢ BẢO ĐẢM.
</p>

<h2>Trách nhiệm pháp lý đối với Dịch vụ của chúng tôi</h2>
<p>
  KHI ĐƯỢC LUẬT PHÁP CHO PHÉP, APRIGI SẼ KHÔNG CHỊU TRÁCH NHIỆM VỀ
  KHOẢN LỢI NHUẬN, DOANH THU HOẶC DỮ LIỆU BỊ MẤT MÁT, THIỆT HẠI TÀI
  CHÍNH HOẶC CÁC THIỆT HẠI GIÁN TIẾP, ĐẶC BIỆT, DO HẬU QUẢ, DO BỊ XỬ
  PHẠT ĐỂ LÀM GƯƠNG HOẶC BỊ TRỪNG PHẠT.
</p>
<p>
  TRONG PHẠM VI ĐƯỢC LUẬT PHÁP CHO PHÉP, TOÀN BỘ TRÁCH NHIỆM PHÁP LÝ
  CỦA APRIGI ĐỐI VỚI BẤT KỲ KHIẾU NẠI NÀO THEO CÁC ĐIỀU KHOẢN NÀY, KỂ
  CẢ ĐỐI VỚI BẤT KỲ BẢO ĐẢM NGẦM ĐỊNH NÀO, ĐƯỢC GIỚI HẠN Ở SỐ TIỀN MÀ
  BẠN ĐÃ THANH TOÁN CHO CHÚNG TÔI ĐỂ SỬ DỤNG DỊCH VỤ (HOẶC, THEO SỰ
  LỰA CHỌN CỦA CHÚNG TÔI, CUNG CẤP LẠI DỊCH VỤ CHO BẠN).
</p>
<p>
  TRONG MỌI TRƯỜNG HỢP, APRIGI SẼ KHÔNG CHỊU TRÁCH NHIỆM ĐỐI VỚI BẤT
  KỲ MẤT MÁT HAY THIỆT HẠI NÀO KHÔNG THỂ DỰ ĐOÁN ĐƯỢC MỘT CÁCH HỢP LÝ.
</p>

<h2>Việc sử dụng Dịch vụ của chúng tôi cho doanh nghiệp</h2>
<p>
  Nếu bạn đang sử dụng Dịch vụ của chúng tôi thay mặt cho doanh
  nghiệp, thì doanh nghiệp đó chấp nhận các điều khoản này. Doanh
  nghiệp đó sẽ bồi hoàn và giữ cho Aprigi cũng như các công ty liên
  kết không bị tổn hại đối với bất kỳ khiếu nại, khiếu kiện hoặc tố
  tụng nào nảy sinh từ hoặc có liên quan đến việc sử dụng Dịch vụ hoặc
  vi phạm các điều khoản này, bao gồm cả bất kỳ trách nhiệm pháp lý
  hoặc chi phí nào phát sinh từ các khiếu nại, tổn thất, thiệt hại,
  khiếu kiện, phán quyết, chi phí tố tụng và tiền phí luật sư.
</p>

<h2>Về các Điều khoản này</h2>
<p>
  Chúng tôi có thể sửa đổi các điều khoản này, chẳng hạn như để phản
  ánh những thay đổi về luật hoặc những thay đổi về Dịch vụ của chúng
  tôi. Bạn nên thường xuyên tìm hiểu các điều khoản này. Chúng tôi sẽ
  đăng thông báo về các sửa đổi đối với các điều khoản này trên trang
  này. Chúng tôi sẽ đăng thông báo về các điều khoản bổ sung đã được
  sửa đổi trong Dịch vụ được áp dụng. Các thay đổi sẽ không áp dụng
  hồi tố và sẽ có hiệu lực không sớm hơn mười bốn ngày sau khi các
  thay đổi đó được đăng. Tuy nhiên, những thay đổi liên quan đến chức
  năng mới của Dịch vụ hoặc các thay đổi được thực hiện vì lý do pháp
  lý sẽ có hiệu lực ngay lập tức. Nếu bạn không đồng ý với các điều
  khoản sửa đổi đối với một Dịch vụ nào đó, bạn nên ngừng sử dụng Dịch
  vụ đó.
</p>
<p>
  Các điều khoản này chi phối mối quan hệ giữa Aprigi và bạn. Các điều
  khoản này không tạo ra bất kỳ quyền thụ hưởng nào cho bên thứ ba.
</p>
<p>
  Nếu bạn không tuân thủ các điều khoản này và chúng tôi không hành
  động ngay, điều này không có nghĩa là chúng tôi đang từ bỏ bất kỳ
  các quyền nào mà chúng tôi có thể có (chẳng hạn như hành động trong
  tương lai).
</p>
<p>
  Nếu thực tế cho thấy một điều khoản cụ thể nào đó là không thể thực
  thi, điều này sẽ không làm ảnh hưởng đến bất kỳ các điều khoản nào
  khác.
</p>
<p>
  Luật pháp của Việt Nam sẽ áp dụng đối với mọi tranh chấp phát sinh
  từ hoặc liên quan đến các điều khoản này hoặc Dịch vụ.
</p>
<p>
  Để tìm hiểu thông tin về cách liên hệ với Aprigi, vui lòng truy
  cập <a href="{% url 'about:contact' %}">trang liên hệ</a> của chúng
  tôi.
</p>
