{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "About this site" %}{% endblock %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "About this site" %}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
            {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'about:index' %}">
            {% trans "About" %}
        </a></li>
        <li><a href="{% url 'about:this_site' %}">
            {% trans "About this site" %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block about-content %}
  {% get_current_language as LANGUAGE_CODE %}
  {% with template="about/this_site_content."|add:LANGUAGE_CODE|add:".html" %}
    {% include  template %}
  {% endwith %}
{% endblock %}
