<h1>About Aprigi</h1>

<p>This website and service is dedicated to my April girl.</p>

<p>
  Aprigi is the website and service helps you spend smarter and save
  more. Aprigi will help you pull all your accounts and investments
  into one place so you can track your spending, create a budget and
  get tips for reducing fees and saving money.
</p>

<p>
  Money is very important for life today. Our mission is to empower
  people to make better financial decisions, so they can be good with
  money. Aprigi helps peole keep track of expenses and budgets to
  reach their saving goals. It's simplest way to manage personal
  finances.  Aprigi will help you understand where your money goes, so
  you can plan to spend more effectively. Forget notebook, pen or
  excel sheet, you are able to manage your personal and family finance
  on this website.
</p>

<p>
  Key features:
</p>

<ul>
  <li>Easy to manage and track your Saving</li>
  <li>Calculator in application</li>
  <li>Expense tracker and Money manager</li>
  <li>Budget planner</li>
  <li>It's free (and always will be)</li>
</ul>

<p>
  We try to make the product perfect. But we can not controll all
  potential bugs.  We welcome you to help us improve this website.

  Please see <a href="{% url 'about:contact' %}">Contact us</a> for
  more information about the ways of contact us.
</p>

<p>
  Aprigi is brought to you by Anh Tranngoc. Please see
  <a href="{% url 'about:us' %}">About us</a> for more information
  about the author.
</p>
