<h1>Giới thiệu Aprigi</h1>

<p>Trang web và dịch vụ này dành tặng cô gái tháng Tư của tôi.</p>

<p>
  Aprigi là trang web, cũng là một dịch vụ giúp bạn chi tiêu thông
  minh hơn, và tiết kiệm nhiều hơn. Aprigi sẽ giúp bạn tổng hợp mọi
  tài khoản cũng như các khoản đầu tư tập trung tại một nơi, cho phép
  bạn dễ dàng theo dõi các khoản chi tiêu của mình, tạo ngân sách cho
  các kế hoạch và có mẹo hay để giảm chi phí cũng như tiết kiệm tiền.
</p>

<p>
  Tiền bạc là rất quan trọng trong cuộc sống hôm nay. Nhiệm vụ của
  chúng tôi là giúp mọi người đưa ra quyết định về tài chính tốt hơn,
  và mọi người sẽ giỏi quản lý tiền bạc hơn. Apiri giúp theo dõi các
  khoản chi tiêu và ngân sách để đạt được mục tiêu tiết kiệm của
  bạn. Đây là giải pháp đơn giản nhất để quản lý tài chính cá
  nhân. Aprigi sẽ giúp bạn hiểu tiền của bạn đi đâu và từ đó bạn có
  thể lên kế hoạch chi tiêu hiệu quả hơn. Hãy quên sổ sách và giấy bút
  đi, bạn cũng chẳng cần đến bảng tính Excel nữa, bạn có thể quản lý
  tài chính cá nhân của bạn và gia đình bạn ngay trên trang web này.
</p>

<p>
  Tính năng chính
</p>

<ul>
  <li>Dễ dàng quản lý và theo dõi tiền tiết kiệm của bạn</li>
  <li>Công cụ tính toán ngay trong ứng dụng</li>
  <li>Theo dõi chi tiêu và quản lý tiền bạc</li>
  <li>Dự toán ngân sách</li>
  <li>Dịch vụ này là miễn phí (và sẽ luôn luôn như vậy)</li>
</ul>

<p>
  Chúng tôi cố gắng tạo ra một sản phẩm hoàn hảo. Nhưng chắc chắn vẫn
  còn nhiều lỗi tiềm ẩn mà không tôi chưa giải quyết. Chúng tôi chào
  đón tất cả các bạn sẽ giúp chúng tôi cải thiện trang web này.

  Xin hãy xem phần <a href="{% url 'about:contact' %}">Liên hệ</a> để
  biết thêm các thông tin chi tiết về cách thức liên lạc với chúng
  tôi.
</p>

<p>
  Aprigi được đưa đến bạn bởi Anh Tranngoc. Xin hãy xem phần
  <a href="{% url 'about:us' %}">Về chúng tôi</a> để biết thêm các
  thông tin khác về tác giả.
</p>
