<div class="objective">
  <p>
    Tôi là Anh Tranngoc và là tác giả của Aprigi. Tôi sinh ra lớn lên
    ở Việt Nam. Phần lớn thời gian tôi dành cho tình yêu của mình:
    Việt Phương. Cả hai chúng tôi đều rất thích du lịch nên chúng tôi
    lên kế hoạch đi du lịch hằng năm. Từ khi còn là một đứa trẻ, tôi
    đã rất thích phần mềm và những thứ liên quan. Tôi đã từng tham gia
    giải toán trên máy tính cầm tay và bây giờ tôi là một người phát
    triển web.
  </p>
</div>

<div class="resume">
  <div class="cv">
    <div class="cv-name">Giáo dục</div>
    <div class="cv-content">
      <h2>Đại học Keio, Shonan Fujisawa Campus (Keio SFC)</h2>
      <p>
        <strong>Ngành:</strong> Environment and Information Studies
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Kỹ năng</div>
    <div class="cv-content">
      <h2>Kỹ năng lập trình</h2>
      <p>
        C, Python, Ruby, PHP, Lisp, Prolog, Java, Dynamic programming,
        Design pattern, Functional programming, MVC, Polymorphism,
        Lazy evaluation, etc.
      </p>

      <h2>Kỹ năng phát triển web</h2>
      <p>
        Django, CherryPy, Ruby on Rails, Laravel, HTML 5, CSS 3,
        JavaScript, jQuery, AMD, ECMAScript 2015, Gulp, Grunt, SCSS,
        CoffeeScript, Mysql, PostgreSQL, Apache, Nginx, Docker, REST,
        SOLID, DRY, etc.
      </p>

      <h2>Ngôn ngữ</h2>
      <p>Tiếng Việt (tiếng mẹ đẻ), tiếng Anh, tiếng Nhật</p>

      <h2>Các kỹ năng khác</h2>
      <p>
        Linux, Git, Vim, Emacs, làm việc nhóm
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Kinh nghiệm</div>
    <div class="cv-content">Tăng lên từng ngày</div>
  </div>

  <div class="cv">
    <div class="cv-name">Sở thích</div>
    <div class="cv-content">
      Chụp ảnh, đạp xe, đọc sách, phát triển phần mềm, du lịch với vợ
    </div>
  </div>
</div>
