<div class="objective">
  <p>
    Tôi là Anh Tranngoc và là tác giả của Aprigi. Tôi sinh ra lớn lên
    ở Việt Nam. Phần lớn thời gian tôi dành cho tình yêu của mình:
    Việt Phương. Cả hai chúng tôi đều rất thích du lịch nên chúng tôi
    lên kế hoạch đi du lịch hằng năm. Từ khi còn là một đứa trẻ, tôi
    đã rất thích phần mềm và những thứ liên quan. Tôi đã từng tham gia
    giải toán trên máy tính cầm tay và bây giờ tôi là một người phát
    triển web.
  </p>
</div>

<div class="resume">
  <div class="cv">
    <div class="cv-name">Giáo dục</div>
    <div class="cv-content">
      <h2>Đại học Keio, Shonan Fujisawa Campus (Keio SFC)</h2>
      <p>
        <strong>Ngành:</strong> Environment and Information Studies
      </p>

      <h2>Đại học Bách Khoa Hà Nội</h2>
      <p>
        <strong>Ngành:</strong> Dự án hỗ trợ và phát triển đào tạo Đại
        học và Sau Đại học về Công nghệ Thông tin và Truyền thông
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Kỹ năng</div>
    <div class="cv-content">
      <h2>Kỹ năng lập trình</h2>
      <p>
        C, Python, Ruby, PHP, Lisp, Prolog, Java, Dynamic programming,
        Design pattern, Functional programming, MVC, Polymorphism,
        Lazy evaluation, etc.
      </p>

      <h2>Kỹ năng phát triển web</h2>
      <p>
        Django, CherryPy, Ruby on Rails, Laravel, HTML 5, CSS 3,
        JavaScript, jQuery, AMD, ECMAScript 2015, Gulp, Grunt, SCSS,
        CoffeeScript, Mysql, PostgreSQL, Apache, Nginx, Docker, REST,
        SOLID, DRY, etc.
      </p>

      <h2>Ngôn ngữ</h2>
      <p>Tiếng Việt (tiếng mẹ đẻ), tiếng Anh, tiếng Nhật</p>

      <h2>Các kỹ năng khác</h2>
      <p>
        Linux, Git, Vim, Emacs
      </p>
      <p>
        Làm việc nhóm, Lên kế hoạch, Quản lý thời gian, Quản lý nhóm
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Chứng chỉ</div>
    <div class="cv-content">
      Japanese Language Proficiency Test N2
      <p>ICAgile Certificated Professional</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Kinh nghiệm</div>
    <div class="cv-content">
      <div class="countup">Tăng lên từng ngày</div>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">04/2016 - Hiện tại</div>
    <div class="cv-content">
      <h2>Team Leader, Framgia Inc.</h2>
      <p>
        Phát triển hệ thống thương mại điện tử với tính năng mua hàng
        định kỳ
      </p>
      <p>
        Môi trường: Ruby on Rails, Postgresql, ReactJS, jQuery, gulp
      </p>
      <p>Team: 13 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">07/2015 - 04/2016</div>
    <div class="cv-content">
      <h2>Team Leader, Framgia Inc.</h2>
      <p>
        Phát triển dịch vụ hỗ trợ các trang thương mại điện tử
      </p>
      <p>
        Môi trường: Ruby on Rails, MySQL, DynamoDB, jQuery,
        Javascript, grunt
      </p>
      <p>Team: 7 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">07/2015 - 10/2015</div>
    <div class="cv-content">
      <h2>Team Leader, Framgia Inc.</h2>
      <p>
        Phát triển server API và trang quản trị cho social game
      </p>
      <p>
        Môi trường: PHP, MySQL, AngularJS, Redis, Vagrant, Unity,
        Apache
      </p>
      <p>Team: 3 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">07/2014 - 07/2015</div>
    <div class="cv-content">
      <h2>Team Leader, Framgia Inc.</h2>
      <p>
        Phát triển dịch vụ mạng xã hội
      </p>
      <p>
        Môi trường: Ruby on Rails, MySQl, AWS, nginx
      </p>
      <p>Team: 9 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">10/2014 - 12/2014</div>
    <div class="cv-content">
      <h2>Bridge Engineer/Web Developer, Framgia Inc.</h2>
      <p>
        Phát triển trang thương mại điện tử với mặt hàng thời trang
      </p>
      <p>
        Môi trường: PHP, Laravel, MySQL, jQuery, nginx, AWS, grunt
      </p>
      <p>Team: 7 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">05/2014 - 07/2014</div>
    <div class="cv-content">
      <h2>Bridge Engineer/Web Developer, Framgia Inc.</h2>
      <p>
        Phát triển và quản lý dịch vụ mạng xã hội (hỏi-đáp)
      </p>
      <p>
        Môi trường: Python with Cherrypy framework, MySQL, jQuery,
        Apache, AWS
      </p>
      <p>Team: 5 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">2013-2014</div>
    <div class="cv-content">
      <h2>Web Developer, Buddying, Kanagawa</h2>
      <p>
        Phát triển và quản lý trang thương mại điển tự với mặt hàng mỹ
        phẩm
      </p>
      <p>
        Environment: Ruby on Rails, MySQL, jQuery, Apache
      </p>
      <p>Team: 7 người</p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Sở thích</div>
    <div class="cv-content">
      Chụp ảnh, đạp xe, đọc sách, phát triển phần mềm, du lịch với vợ
    </div>
  </div>
</div>
