<div class="objective">
  <p>
    I am Anh Tranngoc and author of Aprigi. I have been born and
    living now in Vietnam. Most of my time is dedicated to my love:
    Viet Phuong. She and I like travelling a lot. So we plan to travel
    around my country every year. Since the childish years I am big
    fan of software and all things related. I had run my first
    programs on a scientific calculator and since then I am a web
    developer.
  </p>
</div>

<div class="resume">
  <div class="cv">
    <div class="cv-name">Education</div>
    <div class="cv-content">
      <h2>Keio University Shonan Fujisawa Campus</h2>
      <p>
        <strong>Major:</strong> Environment and Information Studies
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Skills</div>
    <div class="cv-content">
      <h2>Programming skills</h2>
      <p>
        C, Python, Ruby, PHP, Lisp, Prolog, Java, Dynamic programming,
        Design pattern, Functional programming, MVC, Polymorphism,
        Lazy evaluation, etc.
      </p>

      <h2>Web development skills</h2>
      <p>
        Django, CherryPy, Ruby on Rails, Laravel, HTML 5, CSS 3,
        JavaScript, jQuery, AMD, ECMAScript 2015, Gulp, Grunt, SCSS,
        CoffeeScript, Mysql, PostgreSQL, Apache, Nginx, Docker, REST,
        SOLID, DRY, etc.
      </p>

      <h2>Languages</h2>
      <p>Vietnamese (mothertongue), English, Japanese</p>

      <h2>Other skills</h2>
      <p>
        Linux, Git, Vim, Emacs, Teamwork
      </p>
    </div>
  </div>

  <div class="cv">
    <div class="cv-name">Experience</div>
    <div class="cv-content">Continue growing</div>
  </div>

  <div class="cv">
    <div class="cv-name">Hobbies</div>
    <div class="cv-content">
      Photo, Cycling, Book reading, Software development, Travel with
      my wife
    </div>
  </div>
</div>
