{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1>{{ title }}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans 'Home' %}
        </a></li>
        <li>
          {% trans 'Password reset confirmation' %}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if validlink %}
      <p>
        {% blocktrans %}
          Please enter your new password twice
          so we can verify you typed it in correctly.
        {% endblocktrans %}
      </p>

      <form action="" method="post" class="form-general">
        {% csrf_token %}

        <div>
          {{ form.new_password1.label_tag }}
          {% if form.new_password1.errors %}
            <span class="error">
              {{ form.new_password1.errors}}
            </span>
          {% endif %}
          {{ form.new_password1 }}
        </div>

        <div>
          {{ form.new_password2.label_tag }}
          {% if form.new_password2.errors %}
            <div class="error">
              {{ form.new_password2.errors}}
            </div>
          {% endif %}
          {{ form.new_password2 }}
        </div>

        <div>
          <button class="button button-primary">
            <i class="fa fa-key"></i>
            {% trans 'Change my password' %}
          </button>
        </div>
      </form>
    {% else %}
      <p>
        {% blocktrans %}
          The password reset link was invalid,
          possibly because it has already been used.
          Please request a new password reset.
        {% endblocktrans %}
      </p>
    {% endif %}
  </div>

{% endblock %}
