{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1>{{ title }}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans 'Home' %}
        </a></li>
        <li><a href="{% url 'password_reset' %}">
          {% trans 'Password reset' %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}


{% block content %}
  <div class="container">
    <p>
      {% blocktrans %}
        Forgotten your password? Enter your email address below,
        and we'll email instructions for setting a new one.
      {% endblocktrans %}
    </p>

    <form action="" method="post" class="form-input">
      {% csrf_token %}

      {{ form.email.errors }}
      {{ form.email }}
      <button type="submit">
        <i class="fa fa-key"></i>
        <span class="visuallyhidden">
          {% trans 'Reset my password' %}
        </span>
      </button>
    </form>
  </div>
{% endblock %}
