{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Passbook list" %} | {% trans "Savings" %}
{% endblock %}

{% block page_header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "Passbook list" %}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'savings:index' %}">
          {% trans "Savings" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook list" %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="object-tools">
      <a href="{% url 'savings:passbook_create' %}"
         class="button button-secondary">
        <i class="fa fa-plus"></i>
        {% trans "Add new passbook" %}
      </a>

      <form class="form-input" action="{% url 'savings:passbook_withdraw' %}"
            method="get">
        <input name="date" type="date" placeholder="yyyy-mm-dd"
               value="{{ form.upcoming.value }}">
        <button type="submit">
          <i class="fa fa-money"></i>
          <span class="visuallyhidden">{% trans "Withdraw" %}</span>
        </button>
      </form>
    </div>

    <h1>{% trans "Passbook list" %}</h1>
    <p>
      {% blocktrans count counter=object_list|length %}
        You have total {{ counter }} passbook.
      {% plural %}
        You have total {{ counter }} passbooks.
      {% endblocktrans %}
    </p>

    <div class="two-columns">
      <div class="main-content">
        {% include "savings/passbook_list_table.html" %}
      </div>

      <div class="sidebar">
        {% include "savings/passbook_list_sidebar.html" %}
      </div>
    </div>
  </div>
{% endblock %}
