{% extends "base.html" %}

{% block title %}Passbook list | Savings{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="page-header">Passbook list</h1>

    <p>You have total {{ object_list | length }} passbooks</p>

    <div class="two-columns">
      <div class="main-content">
        {% include "savings/passbook_list_table.html" %}
      </div>

      <div class="sidebar">
        {% include "savings/passbook_list_sidebar.html" %}
      </div>
    </div>
  </div>
{% endblock %}
