{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Withdraw" %} | {% trans "Savings" %}
{% endblock %}

{% block page_header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "Withdraw" %}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'savings:index' %}">
          {% trans "Savings" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_withdraw' %}">
          {% trans "Withdraw" %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="object-tools">
      <form class="form-input" action="" method="get">
        <input name="date" type="date" placeholder="yyyy-mm-dd"
               value="{{ form.date.value }}">
        <button type="submit">
          <i class="fa fa-money"></i>
          <span class="visuallyhidden">{% trans "Withdraw" %}</span>
        </button>
      </form>
    </div>

    <h1>{% trans "Withraw" %}</h1>
    <p>
      {% blocktrans count counter=object_list|length %}
        You have total {{ counter }} passbook.
      {% plural %}
        You have total {{ counter }} passbooks.
      {% endblocktrans %}
    </p>

    {% include "savings/passbook_withdraw_table.html" %}

    <p>{% trans "Are you sure?" %}</p>
    <form class="form-general" action="" method="post">
      {% csrf_token %}
      {{ form.date.as_hidden }}
      <button class="button button-primary">
        {% trans "Yes, I'm sure" %}
      </button>
      <a href="{% url 'savings:passbook_list' %}" class="button button-secondary">
        {% trans "No, take me back" %}
      </a>
    </form>
  </div>
{% endblock %}
