{% load i18n %}

<div class="responsive-table">
  <table>
    <thead>
      <tr>
        <th>{% trans "number" %}</th>
        <th>{% trans "account number" %}</th>
        <th>{% trans "amount" %}</th>
        <th>{% trans "period" %}</th>
        <th>{% trans "start date" %}</th>
        <th>{% trans "stop date" %}</th>
        <th>{% trans "is open" %}</th>
        <th>{% trans "interest (expected)" %}
      </tr>
    </thead>

    <tbody>
      {% for passbook in object_list %}
        <tr{% if not passbook.is_open %} class="grayout"{% endif %}>
          <td>{{ passbook.number }}</td>
          <td>{{ passbook.account_number }}</td>
          <td class="right">{{ passbook.amount }}</td>
          <td>
            {{ passbook.period }}
            {% if passbook.period_type == passbook.MONTH %}
              months
            {% elif passbook.period_type == passbook.WEEK %}
              weeks
            {% endif %}
          </td>
          <td>{{ passbook.start_date }}</td>
          <td>{{ passbook.stop_date }}</td>
          <td class="center">
            {% if passbook.is_open %}
              <i class="fa fa-check-circle"></i>
            {% else %}
              <i class="fa fa-times-circle"></i>
            {% endif %}
          </td>
          <td>{{ passbook.interest }}</td>
        </tr>
      {% empty %}
        <tr>
          <td class="center" colspan="7">No passbooks available</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
