<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Account number</th>
      <th>Amount</th>
      <th>Period</th>
      <th>Start date</th>
      <th>Stop date</th>
      <th>Open/Close</th>
    </tr>
  </thead>

  <tbody>
    {% load humanize %}
    {% for passbook in object_list %}
      <tr{% if not passbook.is_open %} class="grayout"{% endif %}>
        <td>{{ passbook.number }}</td>
        <td>{{ passbook.account_number }}</td>
        <td class="right">{{ passbook.amount | intcomma }}$</td>
        <td>
          {{ passbook.period }}
          {% if passbook.period_type == passbook.MONTH %}
            months
          {% elif passbook.period_type == passbook.WEEK %}
            weeks
          {% endif %}
        </td>
        <td>{{ passbook.start_date }}</td>
        <td>{{ passbook.stop_date }}</td>
        <td class="center">
          {% if passbook.is_open %}
            <i class="fa fa-check-circle"></i>
          {% else %}
            <i class="fa fa-times-circle"></i>
          {% endif %}
         </td>
      </tr>
    {% empty %}
      <tr>
        <td class="center" colspan="7">No passbooks available</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
