{% load i18n %}

<h1>{% trans "Filter" %}</h1>

<h2>{% trans "By status" %}</h2>
<ul>
  <li><a href="?">{% trans "All" %}</a></li>
  <li><a href="?is_open=2">{% trans "Passbook open" %}</a></li>
  <li><a href="?is_open=3">{% trans "Passbook close" %}</a></li>
</ul>

<h2>{% trans "Upcoming" %}</h2>
<ul>
  <li><a href="?">{% trans "All" %}</a></li>
  <li><a href="?upcoming={% now 'Y-m-d' %}">{% trans "Today" %}</a></li>
  <li><a href="?upcoming={{ thisweek }}">{% trans "One week" %}</a></li>
  <li><a href="?upcoming={{ thismonth }}">{% trans "This month" %}</a></li>
  <li><a href="?upcoming={% now 'Y' %}-12-31">{% trans "This year" %}</a></li>
  <li>
    <form class="form-input" action="?" method="get">
      <input name="upcoming" placeholder="yyyy-mm-dd" type="date"
             value="{% now 'Y-m-d' %}" required>
      <button type="submit">
        <i class="fa fa-search"></i>
        <span class="visuallyhidden">{% trans "Search" %}</span>
      </button>
    </form>
  </li>
</ul>
