{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Passbook list" %} | {% trans "Savings" %}{% endblock %}

{% block page_header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "Passbook list" %}</h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'savings:index' %}">
          {% trans "Savings" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook list" %}
        </a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <p>
      {% blocktrans count counter=object_list|length %}
        You have total {{ counter }} passbook.
      {% plural %}
        You have total {{ counter }} passbooks.
      {% endblocktrans %}
    </p>

    <div class="two-columns">
      <div class="main-content">
        {% include "savings/passbook_list_table.html" %}
      </div>

      <div class="sidebar">
        {% include "savings/passbook_list_sidebar.html" %}
      </div>
    </div>
  </div>
{% endblock %}
