{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if object %}
    {% trans "Update passbook" %}
  {% else %}
    {% trans "Add new passbook" %}
  {% endif %}
  | {% trans "Savings" %}
{% endblock %}

{% block page_header %}
  <div class="page-header">
    <div class="container">
      <h1>
        {% if object %}
          {% trans "Update passbook" %}
        {% else %}
          {% trans "Add new passbook" %}
        {% endif %}
      </h1>

      <ul class="breadcrumbs">
        <li><a href="{% url 'homepage' %}">
          {% trans "Home" %}
        </a></li>
        <li><a href="{% url 'savings:index' %}">
          {% trans "Savings" %}
        </a></li>
        <li><a href="{% url 'savings:passbook_list' %}">
          {% trans "Passbook" %}
        </a></li>
        <li>
          {% if object %}
            <a href="{% url 'savings:passbook_update' object.id %}">
              {% trans "Update passbook" %}
            </a>
          {% else %}
            <a href="{% url 'savings:passbook_create' %}">
              {% trans "Add new passbook" %}
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if withdrawn %}
      <div class="warning">
        <p>
          {% blocktrans %}
            You have withdrawn ${{ withdrawn }}
            without creating any new passbook.
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}

    <h1>
      {% if object %}
        {% trans "Update passbook" %}
      {% else %}
        {% trans "Add new passbook" %}
      {% endif %}
    </h1>

    <form action="" method="post" class="form-general">
      {% csrf_token %}

      {% if form.errors %}
        <p class="error">{% trans "Please correct the errors below" %}</p>
        {{ form.non_field_errors }}
      {% endif %}

      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {% if field.errors %}
            <span class="error">
              {{ field.errors.0 }}
            </span>
          {% endif %}
          {{ field }}
        </div>
      {% endfor %}

      <button class="button button-primary">
        {% if object %}
          <i class="fa fa-pencil"></i>
          {% trans "Update passbook" %}
        {% else %}
          <i class="fa fa-plus"></i>
          {% trans "Add new passbook" %}
        {% endif %}
      </button>
    </form>
  </div>
{% endblock %}
