.countdown {
    text-align: center;
    line-height: 1;

    .countdown-container {
        display: inline-block;
        text-align: center;
        font-family: $sans-serif;
        font-size: 2rem;

        > div {
            display: inline-block;
            padding: 10/16 + rem;
            margin-bottom: .5rem;
            color: $white;
            background: lighten($bg-blue, 10%);
            border-radius: .25rem;
        }
        div > span {
            display: inline-block;
            padding: 1rem;
            font-weight: 500;
            background: darken($bg-blue, 15%);
            border-radius: .25rem;
        }

        .small-text {
            padding-top: .5rem;
            font-size: 1rem;
        }
    }
}
