form {
    // Global input styles
    input[type="search"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    input[type="tel"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="datetime"],
    input[type="datetime-local"],
    textarea {
        display: block;
        margin: 1em 0;
        padding: .5em 1em;
        width: 100%;
        appearance: none;
        color: $text-default;
        font-weight: normal;;
        text-indent: 0;
        background: #fff;
        border: 1px solid $gray-line;
        border-radius: .25rem;
        cursor: auto;

        &::-ms-clear {
            display: none;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $bg-blue;
        }
    }

    textarea {
        height: auto;
    }

    input[type=checkbox],
    input[type=radio] {
        margin-right: .5em;
        outline: none;
    }

    select {
        padding: .5em 1em;
        font-size: 1em;
        border: 1px solid $gray-line;
        background: white;
        border-radius: .25em;
    }

    fieldset {
        margin: 1em 0;
        border: 1px solid $gray-line;
        border-radius: .25em;
    }

    legend {
        padding: 0 .5em;
    }

    div {
        margin: 1em 0;
    }
}

::placeholder {
    color: $text-light;
}

.form-general {
    // Multi-input forms with seperate submit button.
    fieldset {
        margin: 1em 0;
        max-width: 45em;
        padding: 0;
        border: 0;

        input[type="search"],
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="url"] {
            margin: 1em 0;
        }
    }
}

.form-input {
    // Class for singple-entry form with inside submit button
    position: relative;

    button {
        position: absolute;
        right: 3%;
        top: 25%;
        padding: 0;
        line-height: 1.5em;
        color: lighten($text-light, 15%);
        background: none;
        border: none;

        &:hover,
        &:focus,
        &:active {
            color: $text-blue;
            background: none;
            outline: none;
        }
    }

    input:focus ~ button {
        color: $text-blue;
    }
}
