.two-columns {
    @include clearfix;
    display: flex;
    flex-flow: row wrap;
    margin: -1rem 0 0 -1rem;

    .main-content {
        margin: 1rem 0 0 1rem;
        min-width: 0;

        @include respond-min($screen-medium) {
            flex: 7 0 0;
        }
    }

    .sidebar {
        margin: 1rem 0 0 1rem;
        flex: 1 0 12.5%;
        background: $bg-gray;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-left: 1em;
            font-size: 1rem;
            border: none;
        }

        h1 {
            margin: 0;
            padding-left: 1em;
            font-size: 1rem;
            color: $white;
            text-transform: uppercase;
            background: $bg-gradient;
        }

        ul {
            margin: .5em 0;
            padding: 0 1em 1em;
            border-bottom: 1px solid $gray-line;

            &:last-child {
                border: none;
            }
        }

        li {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                color: $text-light;

                &:hover,
                &:active,
                &:focus {
                    color: $text-blue;
                    text-decoration: none;
                }
            }
        }
    }
}
