{% load i18n %}

<footer>
  <div class="container">
    <ul class="links">
      <li><a href="{% url 'about:this_site' %}">{% trans "About this site" %}</a></li>
      <li><a href="{% url 'about:us' %}">{% trans "About us" %}</a></li>
      <li><a href="{% url 'about:terms' %}">{% trans "Terms of use" %}</a></li>
      <li><a href="{% url 'about:privacy' %}">{% trans "Privacy policy" %}</a></li>
      <li><a href="{% url 'about:contact' %}">{% trans "Contact us" %}</a></li>
    </ul>

    <ul class="socials">
      <li><a href="https://www.facebook.com/manhhomienbienthuy" target="_blank">
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a></li>
      <li><a href="https://twitter.com/AnhTranngoc" target="_blank">
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a></li>
      <li><a href="https://www.instagram.com/manhhomienbienthuy/" target="_blank">
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
      </a></li>
      <li><a href="https://github.com/manhhomienbienthuy" target="_blank">
        <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-github-alt fa-stack-1x"></i>
        </span>
      </a></li>
    </ul>

    <p class="copyright">
      {% now 'Y' as current_year %}
      {% blocktrans %}
        Copyright © {{ current_year }} Anh Tranngoc. All rights reserved.
      {% endblocktrans %}
    </p>

    <div class="language-switcher">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      <ul>
        <li><i class="fa fa-globe"></i></li>
        {% for language in languages %}
          {% if language.code == LANGUAGE_CODE %}
            {% with url="#!" %}
              <li>
                <a href="{{ url }}">
                  {{ language.name_local }} ({{ language.code }})
                </a>
              </li>
            {% endwith %}
          {% else %}
            {% with current_prefix='/'|add:LANGUAGE_CODE|add:'/' %}
            {% with current_path=request.path|cut:current_prefix %}
            {% with url="/"|add:language.code|add:'/'|add:current_path %}
              <li>
                <a href="{{ url }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">
                  {{ language.name_local }} ({{ language.code }})
                </a>
              </li>
            {% endwith %}
            {% endwith %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
