<footer>
  <div class="container">
    <ul class="links">
      <li><a href="#!">About</a></li>
      <li><a href="#!">Terms of use</a></li>
      <li><a href="#!">Privacy policy</a></li>
      <li><a href="#!">Contact us</a></li>
      <li><a href="#!">Give feedback</a></li>
    </ul>

    <ul class="socials">
      <li><a href="https://www.facebook.com/manhhomienbienthuy">
        <i class="fa fa-facebook-square"></i>
      </a></li>
      <li><a href="https://twitter.com/AnhTranngoc">
        <i class="fa fa-twitter-square"></i>
      </a></li>
      <li><a href="https://github.com/manhhomienbienthuy">
        <i class="fa fa-github-square"></i>
      </a></li>
    </ul>

    <p class="copyright">
      Copyright © {% now "Y" %} Aprigi. All rights reserved.
    </p>
  </div>
</footer>
