{% load i18n %}

<header id="top">
  <div class="container">
    <a href="{% url 'homepage' %}" class="logo">Aprigi</a>
    <p class="meta">
      {% trans "The app for my April girl, from naa with love" %}
    </p>

    <div class="navigation-button">
      <i class="apricon apricon-bars"></i>
    </div>

    <div class="navigation mobile-navigation active">
      <ul>
        <li{% if 'savings' in request.path %} class="active"{% endif %}>
          <a href="{% url 'savings:index' %}">{% trans "Savings" %}</a>
        </li>
        <li{% if 'expenses' in request.path %} class="active"{% endif %}>
          <a href="{% url 'expenses:index' %}">{% trans "Expense" %}</a>
        </li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'logout'%}?next={{ request.path }}">
            {% trans "Logout" %}
          </a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{ request.path }}">
            {% trans "Login" %}
          </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
