{% load i18n %}

<noscript>
  <div class="warning">
    <div class="container">
      <p>
        <strong>{% trans "Notice" %}:</strong> {% blocktrans %}While
        JavaScript is not essential for this website, your interaction
        with the content will be limited. Please turn JavaScript on
        for the full experience.{% endblocktrans %}
      </p>
    </div>
  </div>
</noscript>

<!--[if lt IE 11]>
    <div class="warning">
      <div class="container">
        <p><strong>{% trans "Notice" %}:</strong> {% blocktrans %}Your
          browser is <em>ancient</em>. Upgrade to a different browser
          to experience a better web.{% endblocktrans %}
        </p>
      </div>
    </div>
<![endif]-->
