<!DOCTYPE html>
{% load staticfiles i18n %}
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Copyright" content="Anh Tranngoc">
    <meta name="keywords" content="Aprigi, Bank, Money saving, Python, Django">
    <meta name="description" content="Aprigi, the app for my April girl">

    {# Favicons #}
    <link rel="apple-touch-icon" href="{% static 'img/icon-touch.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/icon-touch.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/icon-tile.png' %}">

    <title>{% block title %}{% trans "The app for my April girl" %}{% endblock %} | Aprigi</title>

    <link rel="stylesheet" href="{% static 'css/vpyeu.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald&text=0123456789">
  </head>

  <body{% block body-attributes %}{% endblock %}>
    {% include "includes/warning.html" %}
    {% include "includes/header.html" %}

    {% block header %}{% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}
    <script data-main="{% static 'js/vpyeu.js' %}" src="{% static 'js/lib/require.js' %}"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
  </body>
</html>
