{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <div class="container">
      <h1 class="page-header">Greetings, world!</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if withdrawn %}
      <div class="warning">
        <p>
          {% blocktrans %}
            You have withdrawn ${{ withdrawn }}
            without creating any new passbook.
          {% endblocktrans %}
        </p>
        <a href="/en/savings/passbook/create" class="button button-secondary">
          <i class="fa fa-plus"></i>
          {% trans "Add new passbook" %}
        </a>
      </div>
    {% endif %}

    <p>
      Goal of the year: <strong>{{ current }} of {{ goal }}</strong>
      ({{ goal_percentage }})
    </p>
    <progress value="{{ current }}" max="{{ goal }}"></progress>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Phasellus ultricies eget metus vel pharetra. Maecenas sit
      amet magna id libero congue venenatis in sit amet neque. Integer
      vehicula tellus quis dolor dapibus viverra. Nulla
      facilisi. Morbi fermentum hendrerit velit vitae
      placerat. Phasellus sed mattis felis. Fusce efficitur pretium
      tincidunt. Donec facilisis sem vitae lorem dapibus
      placerat. Curabitur a gravida magna. Phasellus vitae aliquam
      velit.</p>
    <p>Vestibulum eget ipsum maximus, mattis nulla id, rhoncus
      est. Proin finibus scelerisque lacus, non consectetur lacus
      venenatis fringilla. Vestibulum hendrerit et diam ac
      dignissim. Morbi feugiat ligula neque, ac luctus massa bibendum
      id. Sed mollis pulvinar cursus. Quisque congue sit amet mauris
      id venenatis. Morbi sem turpis, luctus ac leo ac, condimentum
      tristique turpis. Morbi imperdiet diam at tortor ultrices, et
      maximus velit elementum. Aliquam aliquet arcu vel arcu rhoncus
      pulvinar.</p>
  </div>
{% endblock %}
