{% extends "base.html" %}
{% load i18n l10n %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1>{% trans "Greetings, world!" %}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if withdrawn %}
      <div class="warning">
        <p>
          {% blocktrans %}
            You have withdrawn ${{ withdrawn }}
            without creating any new passbook.
          {% endblocktrans %}
        </p>
        <a href="/en/savings/passbook/create" class="button button-secondary">
          <i class="apricon apricon-plus"></i>
          {% trans "Add new passbook" %}
        </a>
      </div>
    {% endif %}

    {% if objective %}
      <p>
        {% blocktrans %}
          Objective of the year:
          <strong>${{ current }} of ${{ objective }}</strong>
          ({{ percentage }})
        {% endblocktrans %}
      </p>
      <progress value="{{ current|unlocalize }}"
                max="{{ objective|unlocalize }}">
      </progress>
    {% else %}
      <p>{% trans "You don't have any objective for this year" %}</p>
    {% endif %}

    <div class="countdown">
    </div>
  </div>
{% endblock %}
