{% extends "base.html" %}
{% load i18n l10n %}

{% block header %}
  <div class="page-header">
    <div class="container">
      <h1 class="page-header">Greetings, world!</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% if withdrawn %}
      <div class="warning">
        <p>
          {% blocktrans %}
            You have withdrawn ${{ withdrawn }}
            without creating any new passbook.
          {% endblocktrans %}
        </p>
        <a href="/en/savings/passbook/create" class="button button-secondary">
          <i class="fa fa-plus"></i>
          {% trans "Add new passbook" %}
        </a>
      </div>
    {% endif %}

    {% if objective %}
      <p>
        {% blocktrans %}
          Objective of the year:
          <strong>${{ current }} of ${{ objective }}</strong>
          ({{ percentage }})
        {% endblocktrans %}
      </p>
      <progress value="{{ current|unlocalize }}"
                max="{{ objective|unlocalize }}">
      </progress>
    {% else %}
      <p>{% trans "You don't have any objective for this year" %}</p>
    {% endif %}

    <div class="countdown">
      <p>
        {% trans "Next year begins in" %}:
      </p>
      <div class="countdown-container" id="countdown"
           data-labels='["{% trans 'weeks' %}", "{% trans 'days' %}", "{% trans 'hours' %}", "{% trans 'minutes' %}", "{% trans 'seconds' %}"]'>
      </div>
    </div>
    <script type="text/html" id="countdown-template">
      <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label %></span>
      </div>
    </script>
  </div>
{% endblock %}
