.button {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    display: inline-block;

    &:focus,
    &:active {
        outline: thin dotted;
        outline: 0.4em auto -webkit-focus-ring-color;
        outline-offset: -0.125em;
    }
}

.button-primary {
    color: $white;
    background: $bg-default;

    &:hover,
    &:focus,
    &:active {
        background: $bg-blue;
        text-decoration: none;
    }
}

.button-secondary {
    color: $text-blue;
    background: $white;
    border-image: $bg-default 1;
    padding: 0.1875em 0.9375em;

    &:hover,
    &:focus,
    &:active {
        background: $bg-gray;
        text-decoration: none;
    }
}
