.button {
    display: inline-block;
    padding: 0.25em 1em;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;

    &:focus,
    &:active {
        outline: thin dotted;
        outline: 0.4em auto -webkit-focus-ring-color;
        outline-offset: -0.125em;
    }
}

.button-primary {
    color: $white;
    background: $bg-gradient;

    &:hover,
    &:focus,
    &:active {
        color: $white;
        text-decoration: none;
        background: $bg-blue;
    }
}

.button-secondary {
    padding: 0.1875em 0.9375em;
    color: $text-blue;
    background: transparent;
    border-image: $bg-gradient 1;

    &:hover,
    &:focus,
    &:active {
        color: $text-blue;
        text-decoration: none;
        background: $bg-gray;
    }
}
