.countdown {
    text-align: center;

    .countdown-container {
        display: inline-block;
        text-align: center;
        font-family: $sans-serif;
        font-size: 2rem;

        > div {
            display: inline-block;
            padding: 1rem;
            margin-bottom: .5rem;
            border-radius: .25rem;
            color: $white;
            background: lighten($bg-blue, 10%);
        }
        div > span {
            display: inline-block;
            padding: 1rem;
            border-radius: .25rem;
            background: darken($bg-blue, 15%);
        }

        .small-text {
            padding-top: .5rem;
            font-size: 1rem;
        }
    }
}
