footer {
    margin-top: 3rem;
    padding: 1.5rem 0;
    border-top: 1px solid $gray-line;

    .links {
        @include links-inline(2rem);
    }

    .socials {
        @include links-inline(2rem);
        margin-top: 1rem;

        a {
            @include link-gray;
        }
    }

    .copyright {
        text-align: center;
        color: $text-light;
    }
}

.language-switcher {
    ul {
        @include links-inline(0.5rem);

        a {
            @include link-gray;
        }

        i {
            color: $text-light;
        }
    }
}
