footer {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid $gray-line;

    .links {
        @include links-inline(2rem);
    }

    .socials {
        @include links-inline(2rem);
        margin-top: 1rem;

        a {
            @include link-gray;
        }
    }

    .copyright {
        color: $text-light;
        text-align: center;

        a {
            @include link-gray;
            border-bottom: 1px dotted $text-light;

            &:hover,
            &:active,
            &:focus {
                border-bottom: 1px dotted $text-blue;
            }
        }
    }
}

.language-switcher {
    ul {
        @include links-inline(.5rem);

        a {
            @include link-gray;
        }

        i {
            color: $text-light;
        }
    }
}
