header {
    // Includes global navigation, logo
    @include clearfix;
    border-bottom: 1px solid $gray-line;
    line-height: 1.3;
    font-size: 0.85rem;
    overflow: hidden;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        font-size: 2rem;
        background: url(#{$img-path}logo.svg) 0 0 no-repeat;
        background-size: 110px 36px;
        color: $text-blue;
        display: block;
        float: left;
        font-weight: bold;
        margin: (60-36)/32 + rem;
        overflow: hidden;
        text-decoration: none;
        text-indent: 100%;
        width: 110px;
        height: 36px;

        @include respond-min($screen-medium) {
            margin-left: 0;
        }
    }

    .meta {
        color: $text-light;
        font-weight: normal;
        width: auto;
        float: left;
        margin: 0.75rem 0 0 0;
        display: none;

        @include respond-min($screen-large) {
            width: 12rem;
            display: block;
        }
    }

    .navigation-button {
        font-size: 1.5rem;
        color: $text-blue;
        border-radius: 0.25rem;
        cursor: pointer;
        display: block;
        float: right;
        height: 2.25rem;
        margin: 0.75rem;
        text-align: center;
        text-decoration: none;
        width: 3rem;
        line-height: 2.5rem;

        @include respond-min($screen-medium) {
            display: none;
        }

        &.active,
        &:active {
            color: lighten($text-blue, 10%);
        }

        span {
            display: none;
        }
    }

    .mobile-navigation {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @include respond-min($screen-medium) {
            max-height: none;
            transition: none;
        }

        &.active {
            max-height: 50rem;
        }
    }

    .navigation {
        width: 100%;

        @include respond-min($screen-medium) {
            width: auto;
            float: right;
        }

        ul {
            margin: 0.75rem 0 0;
            padding: 0;
            @include respond-min($screen-medium) {
                margin: 0;
            }
        }

        li {
            display: block;
            text-align: left;
            text-transform: uppercase;
            margin: 0 0.75rem;
            border-top: 1px solid $gray-line;
            position: relative;

            @include respond-min($screen-medium) {
                margin: 0;
                border: none;
                float: left;
                text-align: left;
            }

            &.active,
            &:hover,
            &:active,
            &:focus {
                @include gradient-underline;

                a {
                    color: $text-blue;
                }
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 0.75rem 0;
            color: $text-light;
            font-weight: bold;

            @include respond-min($screen-medium) {
                padding: 21/16 + rem 1rem;
            }
        }
    }
}

.page-header {
    color: $white;
    background: $bg-default;

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }
}
