.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.warning {
    text-align: center;
    background: $highlight-bg;
    padding: 1rem 0;
}

$back-top-top-size: 2.5rem;
.back-to-top {
    display: none;
    width: $back-top-top-size;
    height: $back-top-top-size;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: 1rem;
    background: darken($gray-bg, 70%);
    text-align: center;
    opacity: 0.4;

    i {
        margin-top: $back-top-top-size / 10;
        color: $white;
        font-size: $back-top-top-size / 1.6;
    }
}

.centering {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
