.visuallyhidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.warning {
    padding: 1rem 0;
    text-align: center;
    background: $bg-highlight;

    p {
        margin: 0;
    }
}

$back-top-top-size: 2.5rem;
.back-to-top {
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: $back-top-top-size;
    height: $back-top-top-size;
    line-height: $back-top-top-size;
    text-align: center;
    background: darken($bg-gray, 70%);
    border-radius: 50%;
    opacity: 0.4;

    i {
        color: $white;
        font-size: 1.5em;
    }
}

$text-align: center left right justify;
@each $style in $text-align {
    .#{$style} {
        text-align: #{$style};
    }
}

.error {
    padding: 0.25em;
    background: $bg-error;
}

.object-tools {
    float: right;
    margin-top: 1.5em;
}
