@media print {
    // H5BP Print styles
    // https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

    *,
    *:before,
    *:after {
        color: #000 !important;
        background: transparent !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    // Custom Print Styles

    // flexbox can not be print on Firefox
    body,
    .two-columns {
        display: block;
    }


    // Display none list
    .navigation-button,
    .back-to-top {
        display: none !important;
    }

    .logo {
        text-indent: 0 !important;
    }
}
