table {
    border-collapse: collapse;
    font-size: 0.9rem;

    td {
        padding: 0.5em 1em;
        border: 1px solid $gray-line;
    }

    thead tr,
    th {
        @extend td;
        background: $gray-bg;
        font-weight: normal;
        text-transform: uppercase;
    }

    tbody tr:nth-child(even) {
        background: $gray-bg;
    }

    tr.grayout {
        color: $text-light;
    }
}
