table {
    border-collapse: collapse;
    font-size: .9rem;

    td {
        padding: .5em 1em;
        border: 1px solid $gray-line;
    }

    thead tr,
    th {
        @extend td;
        font-weight: normal;
        text-transform: uppercase;
        background: $bg-gray;
    }

    tbody tr:nth-child(even) {
        background: $bg-gray;
    }

    .grayout {
        color: $text-light;
    }
}

.responsive-table {
    overflow-x: auto;
}
